In [40]:
import glob
import numpy as np
csv_files = (glob.glob("C:/Users/Vishnu Kumar/Documents/IPL/raw/*info.csv"))

In [41]:
import pandas as pd


df_append = pd.DataFrame()

for file in csv_files:
            df_temp = pd.read_csv(file,sep='漢ழ்字', engine='python',header=None)
            df_temp['ID'] = file
            df_temp = df_temp[(df_temp[0].str.startswith('info,toss_winner')) | (df_temp[0].str.startswith('info,toss_decision'))]
            df_append = pd.concat([df_append,df_temp])

df_append = df_append.reset_index()
df_append[['info', 'attrib','value']] = df_append[0].str.split(",", expand = True)
df_append = df_append.drop(columns=['index',0,'info'])
df_append['ID'] = df_append['ID'].str[40:-9]
toss_winner = df_append[df_append['attrib']=='toss_winner'].copy()
toss_decision = df_append[df_append['attrib']=='toss_decision'].copy()
toss_winner['ID'] = toss_winner['ID'].astype('int')
toss_decision['ID'] = toss_decision['ID'].astype('int')

In [42]:
all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")
# all_matches
all_matches = pd.merge(all_matches, toss_winner, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_winner"})
all_matches = pd.merge(all_matches, toss_decision, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_decision"})
all_matches = all_matches[all_matches['innings']<=2]
all_matches['season'] = all_matches['season'].replace(['2007/08', '2009', '2009/10', '2011' ,'2012','2018', '2019', '2020/21', '2021'], [2008,2009,2010,2011,2012,2018,2019,2020,2021])
all_matches['toss_win_batting'] = all_matches.apply(lambda x: 1 if x['toss_winner'] == x['batting_team'] else 0, axis=1)
all_matches['toss_decision'] = all_matches.apply(lambda x: 1 if x['toss_decision'] == 'bat' else 0, axis=1)
all_matches['player_dismissed'] = all_matches.apply(lambda x: 1 if x['player_dismissed'] == x['striker'] else 0, axis=1)
all_data = all_matches.copy()
# all_matches = pd.concat([all_matches, toss_winner], axis=1, join='outer', join_axes=[match_id,ID])

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_5524\579395103.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")

In [135]:
all_matches['ball'] = (all_matches['ball'].astype('int')*6)+((all_matches['ball'] - all_matches['ball'].astype('int'))*10)

In [136]:
venue = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\venue.xlsx")
all_matches = pd.merge(all_matches, venue, how="left" ,left_on = "venue", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [137]:
team = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\team.xlsx")
all_matches = pd.merge(all_matches, team, how="left" ,left_on = "batting_team", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [138]:
team2 = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\team2.xlsx")
all_matches = pd.merge(all_matches, team2, how="left" ,left_on = "bowling_team", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [139]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "striker1","player2": "striker2","player3": "striker3","player4": "striker4","player5": "striker5","player6": "striker6","player7": "striker7","player8": "striker8","player9": "striker9","player10": "striker10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "striker", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [140]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "non_striker1","player2": "non_striker2","player3": "non_striker3","player4": "non_striker4","player5": "non_striker5","player6": "non_striker6","player7": "non_striker7","player8": "non_striker8","player9": "non_striker9","player10": "non_striker10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "non_striker", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [141]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "bowler1","player2": "bowler2","player3": "bowler3","player4": "bowler4","player5": "bowler5","player6": "bowler6","player7": "bowler7","player8": "bowler8","player9": "bowler9","player10": "bowler10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "bowler", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [116]:
wicket = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\wicket.xlsx")
# player = player.rename(columns={"player1": "bowler1","player2": "bowler2","player3": "bowler3","player4": "bowler4","player5": "bowler5","player6": "bowler6","player7": "bowler7","player8": "bowler8","player9": "bowler9","player10": "bowler10"})
all_matches = pd.merge(all_matches, wicket, how="left" ,left_on = "wicket_type", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [117]:
all_matches['wic'] = 0
for index,row in all_matches.iterrows():
    temp = all_matches[(all_matches['match_id']==all_matches['match_id'][index]) & (all_matches['innings']==all_matches['innings'][index]) & (all_matches['ball']<all_matches['ball'][index])]
    all_matches['wic'][index] = temp['wicket_type'].count()

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_8612\105967443.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches['wic'][index] = temp['wicket_type'].count()

In [118]:
all_matches = all_matches.fillna(0)

In [119]:
all_matches['target'] = 0
for index,row in all_matches.iterrows():
    if all_matches['innings'][index]==2:
        temp = all_matches[(all_matches['match_id']==all_matches['match_id'][index]) & (all_matches['innings']==1)]
        all_matches['target'][index] = temp['runs_off_bat'].sum()+temp['extras'].sum()

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_8612\395309427.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches['target'][index] = temp['runs_off_bat'].sum()+temp['extras'].sum()

In [120]:
all_matches['byes'] = all_matches['byes'] + all_matches['legbyes']
all_matches['extras'] = all_matches['extras'] - all_matches['byes']

In [121]:
all_matches = all_matches.drop(columns=['venue','match_id','start_date','batting_team','bowling_team','striker','non_striker','bowler','wides','noballs','legbyes','penalty','wicket_type','other_wicket_type','other_player_dismissed','toss_winner'])

In [122]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization, Dropout

# Load the cricket data into a Pandas DataFrame
df = all_matches.copy()

# Split the data into input features and output variables
X = df.drop(['runs_off_bat', 'extras','byes','player_dismissed','wicket1','wicket2','wicket3','wicket4','non_striker1','non_striker2','non_striker3','non_striker4','non_striker5','non_striker6','non_striker7','non_striker8','non_striker9','non_striker10'], axis=1)
y = df[['runs_off_bat', 'extras','byes','player_dismissed','wicket1','wicket2','wicket3','wicket4']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalize the input data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define the model architecture
model = Sequential()
model.add(Dense(64, input_shape=(X_train.shape[1],), activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(8, activation='linear'))

# Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')

# Train the model
model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_data=(X_test_scaled, y_test))

# Evaluate the model
score = model.evaluate(X_test_scaled, y_test)
print('Test loss:', score)

Epoch 1/50
5649/5649 [==============================] - 15s 2ms/step - loss: 0.3880 - val_loss: 0.3465
Epoch 2/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3471 - val_loss: 0.3453
Epoch 3/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3457 - val_loss: 0.3451
Epoch 4/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3450 - val_loss: 0.3444
Epoch 5/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3445 - val_loss: 0.3444
Epoch 6/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3442 - val_loss: 0.3446
Epoch 7/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3440 - val_loss: 0.3439
Epoch 8/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3438 - val_loss: 0.3442
Epoch 9/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3438 - val_loss: 0.3441
Epoch 10/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3434 - val_loss: 0.3442
Epoch 11/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3431 - val_loss: 0.3441
Epoch 12/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3429 - val_loss: 0.3443
Epoch 13/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3428 - val_loss: 0.3441
Epoch 14/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3427 - val_loss: 0.3442
Epoch 15/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3427 - val_loss: 0.3446
Epoch 16/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3425 - val_loss: 0.3440
Epoch 17/50
5649/5649 [==============================] - 16s 3ms/step - loss: 0.3423 - val_loss: 0.3440
Epoch 18/50
5649/5649 [==============================] - 15s 3ms/step - loss: 0.3422 - val_loss: 0.3442
Epoch 19/50
5649/5649 [==============================] - 15s 3ms/step - loss: 0.3421 - val_loss: 0.3442
Epoch 20/50
5649/5649 [==============================] - 15s 3ms/step - loss: 0.3420 - val_loss: 0.3447
Epoch 21/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3419 - val_loss: 0.3442
Epoch 22/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3420 - val_loss: 0.3439
Epoch 23/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3416 - val_loss: 0.3443
Epoch 24/50
5649/5649 [==============================] - 13s 2ms/step - loss: 0.3417 - val_loss: 0.3442
Epoch 25/50
5649/5649 [==============================] - 13s 2ms/step - loss: 0.3415 - val_loss: 0.3440
Epoch 26/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3416 - val_loss: 0.3439
Epoch 27/50
5649/5649 [==============================] - 13s 2ms/step - loss: 0.3416 - val_loss: 0.3439
Epoch 28/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3414 - val_loss: 0.3444
Epoch 29/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3414 - val_loss: 0.3438
Epoch 30/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3413 - val_loss: 0.3442
Epoch 31/50
5649/5649 [==============================] - 15s 3ms/step - loss: 0.3412 - val_loss: 0.3442
Epoch 32/50
5649/5649 [==============================] - 17s 3ms/step - loss: 0.3411 - val_loss: 0.3441
Epoch 33/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3412 - val_loss: 0.3440
Epoch 34/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3412 - val_loss: 0.3441
Epoch 35/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3411 - val_loss: 0.3448
Epoch 36/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3410 - val_loss: 0.3440
Epoch 37/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3409 - val_loss: 0.3442
Epoch 38/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3407 - val_loss: 0.3439
Epoch 39/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3439
Epoch 40/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3442
Epoch 41/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3439
Epoch 42/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3441
Epoch 43/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3441
Epoch 44/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3402 - val_loss: 0.3439
Epoch 45/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3403 - val_loss: 0.3443
Epoch 46/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3441
Epoch 47/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3404 - val_loss: 0.3439
Epoch 48/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3405 - val_loss: 0.3439
Epoch 49/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3404 - val_loss: 0.3440
Epoch 50/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3402 - val_loss: 0.3440
1413/1413 [==============================] - 2s 1ms/step - loss: 0.3440
Test loss: 0.3439507782459259

Venue,
Chinnaswamy Bangalore,
Bindra Mohali,
Feroz Delhi,
Eden Kolkata,
Wankhede Mumbai,
Mansingh Jaipur,
Rajiv Hyderabad,
Chidambaram Chennai,
Patil Mumbai,
Newlands SA,
George SA,
Kingsmead SA,
Supersport SA,
Buffalo SA,
Wanderers SA,
Beers SA,
Outsurance SA,
Brabourne Mumbai,
Sardar Ahmedabad,
Barabati Cuttack,
Brabourne Mumbai,
Vidarbha Nagpur,
HPCA Dharamshala,
Jawaharlal Kochi,
Holkar Indore,
Rajashekar Visakhapatnam,
Subrata Pune,
Subrata Pune,
Shaheed Raipur,
JSCA Ranchi,
Abudhabi UAE,
Sharjah UAE,
Dubai UAE,
Bindra Mohali,
Saurashtra Rajkot,
Green Kanpur,
Chinnaswamy Bangalore,
Chidambaram Chennai,
Feroz Delhi,
Rajiv Hyderabad,
Bindra Mohali,
Chidambaram Chennai,
Wankhede Mumbai,
Sardar Ahmedabad,
Feroz Delhi,
Abudhabi UAE,
Patil Mumbai,
Subrata Pune,
Eden Kolkata

Team,
Kolkata,
Bangalore,
Chennai,
Punjab,
Rajastan,
Delhi,
Hyderabad,
Mumbai,
Kochi,
Pune,
Hyderabad,
Pune,
Gujarat,
Pune,
Delhi,
Punjab,
Lucknow,
Gujarat

In [43]:
all_for_bowlers = all_data.copy()
all_for_bowlers['ball'] = (all_for_bowlers['ball'].apply(np.floor))+1
all_for_bowlers = all_for_bowlers.drop(columns=['start_date','striker','non_striker','runs_off_bat','extras','wides','noballs','byes','legbyes','penalty','wicket_type','player_dismissed','other_wicket_type','other_player_dismissed'])
all_for_bowlers['over1'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 1 else 0, axis=1)
all_for_bowlers['over2'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 2 else 0, axis=1)
all_for_bowlers['over3'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 3 else 0, axis=1)
all_for_bowlers['over4'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 4 else 0, axis=1)
all_for_bowlers['over5'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 5 else 0, axis=1)
all_for_bowlers['over6'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 6 else 0, axis=1)
all_for_bowlers['over7'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 7 else 0, axis=1)
all_for_bowlers['over8'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 8 else 0, axis=1)
all_for_bowlers['over9'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 9 else 0, axis=1)
all_for_bowlers['over10'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 10 else 0, axis=1)
all_for_bowlers['over11'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 11 else 0, axis=1)
all_for_bowlers['over12'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 12 else 0, axis=1)
all_for_bowlers['over13'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 13 else 0, axis=1)
all_for_bowlers['over14'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 14 else 0, axis=1)
all_for_bowlers['over15'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 15 else 0, axis=1)
all_for_bowlers['over16'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 16 else 0, axis=1)
all_for_bowlers['over17'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 17 else 0, axis=1)
all_for_bowlers['over18'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 18 else 0, axis=1)
all_for_bowlers['over19'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 19 else 0, axis=1)
all_for_bowlers['over20'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 20 else 0, axis=1)
# all_for_bowlers

In [44]:
all_for_bowlers = pd.pivot_table(all_for_bowlers, values =['over1','over2','over3','over4','over5','over6','over7','over8','over9','over10','over11','over12','over13','over14','over15','over16','over17','over18','over19','over20'], index =['match_id', 'season','venue','innings','batting_team','bowling_team','bowler','toss_winner','toss_decision','toss_win_batting'], aggfunc = np.max).reset_index()

In [45]:
all_for_bowlers = pd.pivot_table(all_for_bowlers, values=['over1','over2','over3','over4','over5','over6','over7','over8','over9','over10','over11','over12','over13','over14','over15','over16','over17','over18','over19','over20'], index=['innings','bowler'], aggfunc=np.sum).reset_index()

In [46]:
innings_detail = pd.pivot_table(all_data,values='ball',index=['match_id','innings','bowling_team']).reset_index()
innings_detail = innings_detail.drop(columns = ['ball'])

In [47]:
df_append = pd.DataFrame()

for file in csv_files:
            df_temp = pd.read_csv(file,sep='漢ழ்字', engine='python',header=None)
            df_temp['ID'] = file
            df_temp = df_temp[(df_temp[0].str.startswith('info,player,'))]
            df_append = pd.concat([df_append,df_temp])
df_append = df_append.reset_index()
df_append[['info', 'play','team','player']] = df_append[0].str.split(",", expand = True)
df_append = df_append.drop(columns=['index',0,'info','play'])
df_append['ID'] = df_append['ID'].str[40:-9].astype('int')
player_list = pd.merge(df_append, innings_detail, how="left" ,left_on = ['ID','team'], right_on = ['match_id','bowling_team'] )
player_list = player_list.drop(columns=['match_id','bowling_team'])
# player_list['count'] = 1 
# player_list['innings'] = player_list['innings'].astype('str')

In [48]:
player_list = pd.pivot_table(player_list, values='team', index=['player','innings'], aggfunc='count').reset_index()

In [49]:
all_for_bowlers = pd.merge(all_for_bowlers,player_list,how = 'left', left_on=['innings','bowler'], right_on=['innings','player'])

In [50]:
all_for_bowlers = all_for_bowlers.drop(columns=['player'])
all_for_bowlers = all_for_bowlers.rename(columns={"team": "no_of_matches"})
all_for_bowlers['over1'] = all_for_bowlers['over1']/all_for_bowlers['no_of_matches']
all_for_bowlers['over2'] = all_for_bowlers['over2']/all_for_bowlers['no_of_matches']
all_for_bowlers['over3'] = all_for_bowlers['over3']/all_for_bowlers['no_of_matches']
all_for_bowlers['over4'] = all_for_bowlers['over4']/all_for_bowlers['no_of_matches']
all_for_bowlers['over5'] = all_for_bowlers['over5']/all_for_bowlers['no_of_matches']
all_for_bowlers['over6'] = all_for_bowlers['over6']/all_for_bowlers['no_of_matches']
all_for_bowlers['over7'] = all_for_bowlers['over7']/all_for_bowlers['no_of_matches']
all_for_bowlers['over8'] = all_for_bowlers['over8']/all_for_bowlers['no_of_matches']
all_for_bowlers['over9'] = all_for_bowlers['over9']/all_for_bowlers['no_of_matches']
all_for_bowlers['over10'] = all_for_bowlers['over10']/all_for_bowlers['no_of_matches']
all_for_bowlers['over11'] = all_for_bowlers['over11']/all_for_bowlers['no_of_matches']
all_for_bowlers['over12'] = all_for_bowlers['over12']/all_for_bowlers['no_of_matches']
all_for_bowlers['over13'] = all_for_bowlers['over13']/all_for_bowlers['no_of_matches']
all_for_bowlers['over14'] = all_for_bowlers['over14']/all_for_bowlers['no_of_matches']
all_for_bowlers['over15'] = all_for_bowlers['over15']/all_for_bowlers['no_of_matches']
all_for_bowlers['over16'] = all_for_bowlers['over16']/all_for_bowlers['no_of_matches']
all_for_bowlers['over17'] = all_for_bowlers['over17']/all_for_bowlers['no_of_matches']
all_for_bowlers['over18'] = all_for_bowlers['over18']/all_for_bowlers['no_of_matches']
all_for_bowlers['over19'] = all_for_bowlers['over19']/all_for_bowlers['no_of_matches']
all_for_bowlers['over20'] = all_for_bowlers['over20']/all_for_bowlers['no_of_matches']

In [51]:
all_for_bowlers = all_for_bowlers[['innings','bowler', 'over1', 'over2', 'over3', 'over4', 'over5', 'over6', 'over7', 'over8', 'over9', 'over10', 'over11', 'over12', 'over13', 'over14', 'over15', 'over16', 'over17', 'over18', 'over19', 'over20', 'no_of_matches']]

In [144]:
# venue = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\venue.xlsx")
# all_for_bowlers = pd.merge(all_for_bowlers, venue, how="left" ,left_on = "venue", right_on = "key" )
# all_for_bowlers = all_for_bowlers.drop(columns=["key", "filter name","Bit"])
# # all_matches
# team = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\team.xlsx")
# all_for_bowlers = pd.merge(all_for_bowlers, team, how="left" ,left_on = "batting_team", right_on = "key" )
# all_for_bowlers = all_for_bowlers.drop(columns=["key", "filter name","Bit"])
# # all_matches
# team2 = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\team2.xlsx")
# all_for_bowlers = pd.merge(all_for_bowlers, team2, how="left" ,left_on = "bowling_team", right_on = "key" )
# all_for_bowlers = all_for_bowlers.drop(columns=["key", "filter name","Bit"])
# # all_matches
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "bowler1","player2": "bowler2","player3": "bowler3","player4": "bowler4","player5": "bowler5","player6": "bowler6","player7": "bowler7","player8": "bowler8","player9": "bowler9","player10": "bowler10"})
all_for_bowlers = pd.merge(all_for_bowlers, player, how="left" ,left_on = "bowler", right_on = "key" )
all_for_bowlers = all_for_bowlers.drop(columns=["key", "filter name","bit"])
# all_matches

In [57]:
team1 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team1.xlsx")
team2 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team2.xlsx")
team1['bowl_innings'] = 2
team2['bowl_innings'] = 1

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():
C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [64]:
team1 = pd.merge(team1, all_for_bowlers, how = 'left', right_on = ['innings','bowler'] , left_on = ['bowl_innings', 'Team1'])

In [66]:
team1 = team1.dropna()

In [68]:
team1 = team1.drop(columns=['innings','Team1','no_of_matches'])

In [69]:
team1

,bowl_innings,bowler,over1,over2,over3,over4,over5,over6,over7,over8,...,over11,over12,over13,over14,over15,over16,over17,over18,over19,over20
0,2,YBK Jaiswal,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.071429
5,2,R Ashwin,0.160377,0.056604,0.207547,0.169811,0.216981,0.320755,0.188679,0.264151,...,0.169811,0.311321,0.169811,0.169811,0.188679,0.179245,0.103774,0.084906,0.000000,0.037736
6,2,R Parag,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.115385,0.038462,...,0.115385,0.038462,0.038462,0.038462,0.000000,0.000000,0.000000,0.038462,0.000000,0.038462
7,2,TA Boult,0.869565,0.130435,0.695652,0.086957,0.282609,0.130435,0.021739,0.021739,...,0.065217,0.065217,0.152174,0.021739,0.086957,0.152174,0.195652,0.391304,0.195652,0.195652
8,2,OC McCoy,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.200000,0.200000,...,0.200000,0.000000,0.400000,0.000000,0.400000,0.000000,0.400000,0.000000,0.600000,0.400000
9,2,M Prasidh Krishna,0.161290,0.709677,0.161290,0.419355,0.258065,0.225806,0.096774,0.000000,...,0.064516,0.064516,0.032258,0.129032,0.129032,0.258065,0.193548,0.225806,0.290323,0.161290
10,2,YS Chahal,0.041096,0.082192,0.054795,0.109589,0.082192,0.150685,0.356164,0.315068,...,0.356164,0.260274,0.273973,0.219178,0.219178,0.315068,0.095890,0.136986,0.027397,0.041096

In [76]:
over_1 = team1[team1['over1']>0.05].bowler
over_2 = team1[team1['over2']>0.05].bowler
over_3 = team1[team1['over3']>0.05].bowler
over_4 = team1[team1['over4']>0.05].bowler
over_5 = team1[team1['over5']>0.05].bowler
over_6 = team1[team1['over6']>0.05].bowler
over_7 = team1[team1['over7']>0.05].bowler
over_8 = team1[team1['over8']>0.05].bowler
over_9 = team1[team1['over9']>0.05].bowler
over_10 = team1[team1['over10']>0.05].bowler
over_11 = team1[team1['over11']>0.05].bowler
over_12 = team1[team1['over12']>0.05].bowler
over_13 = team1[team1['over13']>0.05].bowler
over_14 = team1[team1['over14']>0.05].bowler
over_15 = team1[team1['over15']>0.05].bowler
over_16 = team1[team1['over16']>0.05].bowler
over_17 = team1[team1['over17']>0.05].bowler
over_18 = team1[team1['over18']>0.05].bowler
over_19 = team1[team1['over19']>0.05].bowler
over_20 = team1[team1['over20']>0.05].bowler

In [86]:
over_1 = over_1.to_numpy()
over_2 = over_2.to_numpy()
over_3 = over_3.to_numpy()
over_4 = over_4.to_numpy()
over_5 = over_5.to_numpy()
over_6 = over_6.to_numpy()
over_7 = over_7.to_numpy()
over_8 = over_8.to_numpy()
over_9 = over_9.to_numpy()
over_10 = over_10.to_numpy()
over_11 = over_11.to_numpy()
over_12 = over_12.to_numpy()
over_13 = over_13.to_numpy()
over_14 = over_14.to_numpy()
over_15 = over_15.to_numpy()
over_16 = over_16.to_numpy()
over_17 = over_17.to_numpy()
over_18 = over_18.to_numpy()
over_19 = over_19.to_numpy()
over_20 = over_20.to_numpy()

AttributeError: 'numpy.ndarray' object has no attribute 'to_numpy'

In [85]:
import itertools
combinations = list(itertools.product(over_1, over_2, over_3,over_4,over_5,over_6,over_7,over_8,over_9,over_10,over_11,over_12,over_13,over_14,over_15,over_16,over_17,over_18,over_19,over_20))

MemoryError: