In [144]:
import glob
import numpy as np
csv_files = (glob.glob("C:/Users/Vishnu Kumar/Documents/IPL/raw/*info.csv"))

In [145]:
import pandas as pd


df_append = pd.DataFrame()

for file in csv_files:
            df_temp = pd.read_csv(file,sep='漢ழ்字', engine='python',header=None)
            df_temp['ID'] = file
            df_temp = df_temp[(df_temp[0].str.startswith('info,toss_winner')) | (df_temp[0].str.startswith('info,toss_decision'))]
            df_append = pd.concat([df_append,df_temp])

df_append = df_append.reset_index()
df_append[['info', 'attrib','value']] = df_append[0].str.split(",", expand = True)
df_append = df_append.drop(columns=['index',0,'info'])
df_append['ID'] = df_append['ID'].str[40:-9]
toss_winner = df_append[df_append['attrib']=='toss_winner'].copy()
toss_decision = df_append[df_append['attrib']=='toss_decision'].copy()
toss_winner['ID'] = toss_winner['ID'].astype('int')
toss_decision['ID'] = toss_decision['ID'].astype('int')

In [146]:
all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")
# all_matches
all_matches = pd.merge(all_matches, toss_winner, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_winner"})
all_matches = pd.merge(all_matches, toss_decision, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_decision"})
all_matches = all_matches[all_matches['innings']<=2]
all_matches['season'] = all_matches['season'].replace(['2007/08', '2009', '2009/10', '2011' ,'2012','2018', '2019', '2020/21', '2021'], [2008,2009,2010,2011,2012,2018,2019,2020,2021])
all_matches['toss_win_batting'] = all_matches.apply(lambda x: 1 if x['toss_winner'] == x['batting_team'] else 0, axis=1)
all_matches['toss_decision'] = all_matches.apply(lambda x: 1 if x['toss_decision'] == 'bat' else 0, axis=1)
all_matches['player_dismissed'] = all_matches.apply(lambda x: 1 if x['player_dismissed'] == x['striker'] else 0, axis=1)
all_data = all_matches.copy()
# all_matches = pd.concat([all_matches, toss_winner], axis=1, join='outer', join_axes=[match_id,ID])

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_15892\579395103.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")

In [147]:
all_matches['ball'] = (all_matches['ball'].astype('int')*6)+((all_matches['ball'] - all_matches['ball'].astype('int'))*10)

In [148]:
all_matches['wicket'] = all_matches['wicket_type'].notnull().astype(int)

In [149]:
all_matches = all_matches.fillna(0)

In [150]:
all_matches['byes'] = all_matches['byes'] + all_matches['legbyes']
all_matches['extras'] = all_matches['extras'] - all_matches['byes']

In [151]:
all_matches = all_matches.drop(columns=['match_id','season','start_date','batting_team','non_striker','bowling_team','innings','player_dismissed','other_wicket_type','toss_winner','toss_decision','toss_win_batting','wides','noballs','legbyes','penalty','other_player_dismissed','wicket_type'])

In [152]:
# all_matches.info()
all_matches['output'] = all_matches.apply(lambda x: 'W' if x['wicket'] == 1 else str(int(x['runs_off_bat'])), axis=1)

In [153]:
all_matches = all_matches.drop(columns=['runs_off_bat','extras','byes','wicket'])

In [154]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier

# Load the dataset into a pandas DataFrame
df = all_matches.copy()

# Use LabelEncoder to convert categorical variables to numerical variables
le = LabelEncoder()
df['venue'] = le.fit_transform(df['venue'])
df['striker'] = le.fit_transform(df['striker'])
df['bowler'] = le.fit_transform(df['bowler'])

# Split the dataset into training and testing sets
train_df, test_df = train_test_split(df, test_size=0.2)

# Create input and output variables for the model
X_train = train_df[['venue', 'ball', 'striker', 'bowler']]
y_train = train_df['output']

X_test = test_df[['venue', 'ball', 'striker', 'bowler']]
y_test = test_df['output']

# Create and train the Gradient Boosting classifier
gb = GradientBoostingClassifier(n_estimators=100)
gb.fit(X_train, y_train)

# Test the model using the testing data and calculate the accuracy score
y_pred = gb.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.44039947740206825

In [155]:
X_test['outcome'] = y_pred

In [156]:
X_test['outcome'].unique()

array(['1', '0', '5', 'W', '4', '6', '2'], dtype=object)

In [157]:
for outcome in df['output'].unique():
    print ("Outcome ", outcome)
    
    test_slice = df[df["output"] == outcome]
    
    predicted_slice = X_test[X_test['outcome'] == outcome]
    
    print ("Actual Count", len(test_slice), "Predicted Count", len(predicted_slice))

Outcome  0
Actual Count 79943 Predicted Count 14819
Outcome  4
Actual Count 25476 Predicted Count 5
Outcome  6
Actual Count 10649 Predicted Count 2
Outcome  1
Actual Count 83548 Predicted Count 30315
Outcome  W
Actual Count 11124 Predicted Count 5
Outcome  2
Actual Count 14284 Predicted Count 3
Outcome  5
Actual Count 61 Predicted Count 10
Outcome  3
Actual Count 708 Predicted Count 0

In [166]:
predicted = gb.predict_proba(X_test.drop(["outcome"], axis=1))

In [167]:
preds = []

In [168]:
from random import choices

for weights in predicted:
    outcomes = ['0','1','2','3','4','5','6','W']
    # weighted random selection
    p = choices(outcomes, weights=weights)

    preds.append(p[0])

In [169]:
predicted = X_test.drop(["outcome"], axis=1)
predicted["outcome"] = preds

In [170]:
for outcome in df['output'].unique():
    print ("Outcome ", outcome)
    
    test_slice = df[df["output"] == outcome]
    
    predicted_slice = predicted[predicted['outcome'] == outcome]
    
    print ("Actual Count", len(test_slice), "Predicted Count", len(predicted_slice))

Outcome  0
Actual Count 79943 Predicted Count 16059
Outcome  4
Actual Count 25476 Predicted Count 5129
Outcome  6
Actual Count 10649 Predicted Count 2176
Outcome  1
Actual Count 83548 Predicted Count 16524
Outcome  W
Actual Count 11124 Predicted Count 2256
Outcome  2
Actual Count 14284 Predicted Count 2851
Outcome  5
Actual Count 61 Predicted Count 20
Outcome  3
Actual Count 708 Predicted Count 144

In [172]:
team1 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team1.xlsx")
team2 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team2.xlsx")
team1['bowl_innings'] = 2
team2['bowl_innings'] = 1

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():
C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [173]:
first_bowling_order = pd.read_csv('first_bowling_order.csv')
second_bowling_order = pd.read_csv('second_bowling_order.csv')

In [175]:
first_bowling_order = first_bowling_order.drop(columns=['Unnamed: 0'])
second_bowling_order = second_bowling_order.drop(columns=['Unnamed: 0'])

In [180]:
batsman_1 = team1.iat[0,0]
batsman_2 = team1.iat[1,0]
run = 0
wicket = 0
ground = ''


for index,row in first_bowling_order.iterrows():
    
    print(row[0])
    break

TA Boult

In [186]:
team1.iat[1,0]

'JC Buttler'

In [185]:
team1

                Team1  bowl_innings
0         YBK Jaiswal             2
1          JC Buttler             2
2           SV Samson             2
3          D Padikkal             2
4          SO Hetmyer             2
5            R Ashwin             2
6             R Parag             2
7            TA Boult             2
8            OC McCoy             2
9   M Prasidh Krishna             2
10          YS Chahal             2