In [187]:
import glob
import numpy as np
csv_files = (glob.glob("C:/Users/Vishnu Kumar/Documents/IPL/raw/*info.csv"))

In [188]:
import pandas as pd


df_append = pd.DataFrame()

for file in csv_files:
            df_temp = pd.read_csv(file,sep='漢ழ்字', engine='python',header=None)
            df_temp['ID'] = file
            df_temp = df_temp[(df_temp[0].str.startswith('info,toss_winner')) | (df_temp[0].str.startswith('info,toss_decision'))]
            df_append = pd.concat([df_append,df_temp])

df_append = df_append.reset_index()
df_append[['info', 'attrib','value']] = df_append[0].str.split(",", expand = True)
df_append = df_append.drop(columns=['index',0,'info'])
df_append['ID'] = df_append['ID'].str[40:-9]
toss_winner = df_append[df_append['attrib']=='toss_winner'].copy()
toss_decision = df_append[df_append['attrib']=='toss_decision'].copy()
toss_winner['ID'] = toss_winner['ID'].astype('int')
toss_decision['ID'] = toss_decision['ID'].astype('int')

In [189]:
all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")
# all_matches
all_matches = pd.merge(all_matches, toss_winner, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_winner"})
all_matches = pd.merge(all_matches, toss_decision, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_decision"})
all_matches = all_matches[all_matches['innings']<=2]
all_matches['season'] = all_matches['season'].replace(['2007/08', '2009', '2009/10', '2011' ,'2012','2018', '2019', '2020/21', '2021'], [2008,2009,2010,2011,2012,2018,2019,2020,2021])
all_matches['toss_win_batting'] = all_matches.apply(lambda x: 1 if x['toss_winner'] == x['batting_team'] else 0, axis=1)
all_matches['toss_decision'] = all_matches.apply(lambda x: 1 if x['toss_decision'] == 'bat' else 0, axis=1)
all_matches['player_dismissed'] = all_matches.apply(lambda x: 1 if x['player_dismissed'] == x['striker'] else 0, axis=1)
all_data = all_matches.copy()
# all_matches = pd.concat([all_matches, toss_winner], axis=1, join='outer', join_axes=[match_id,ID])

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_15892\579395103.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")

In [190]:
all_matches['ball'] = (all_matches['ball'].astype('int')*6)+((all_matches['ball'] - all_matches['ball'].astype('int'))*10)

In [191]:
all_matches['wicket'] = all_matches['wicket_type'].notnull().astype(int)

In [192]:
all_matches = all_matches.fillna(0)

In [193]:
all_matches['byes'] = all_matches['byes'] + all_matches['legbyes']
all_matches['extras'] = all_matches['extras'] - all_matches['byes']

In [194]:
all_matches = all_matches.drop(columns=['match_id','season','start_date','batting_team','non_striker','bowling_team','innings','player_dismissed','other_wicket_type','toss_winner','toss_decision','toss_win_batting','wides','noballs','legbyes','penalty','other_player_dismissed','wicket_type'])

In [195]:
# all_matches.info()
all_matches['output'] = all_matches.apply(lambda x: 'W' if x['wicket'] == 1 else str(int(x['runs_off_bat'])), axis=1)

In [196]:
all_matches = all_matches.drop(columns=['runs_off_bat','extras','byes','wicket'])

In [197]:
venue = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\venue.xlsx")
all_matches = pd.merge(all_matches, venue, how="left" ,left_on = "venue", right_on = "key" )
all_matches = all_matches.drop(columns=["key"])
# all_matches

In [202]:
all_matches = all_matches.drop(columns=['venue'])
all_matches = all_matches.rename(columns= {'filter name': 'venue'})

In [222]:
all_matches

         ball       striker    bowler output                  venue
0         1.0    SC Ganguly   P Kumar      0  Chinnaswamy Bangalore
1         2.0   BB McCullum   P Kumar      0  Chinnaswamy Bangalore
2         3.0   BB McCullum   P Kumar      0  Chinnaswamy Bangalore
3         4.0   BB McCullum   P Kumar      0  Chinnaswamy Bangalore
4         5.0   BB McCullum   P Kumar      0  Chinnaswamy Bangalore
...       ...           ...       ...    ...                    ...
225788  105.0     DA Miller  R Ashwin      1       Sardar Ahmedabad
225789  106.0  Shubman Gill  R Ashwin      0       Sardar Ahmedabad
225790  107.0  Shubman Gill  R Ashwin      1       Sardar Ahmedabad
225791  108.0     DA Miller  R Ashwin      2       Sardar Ahmedabad
225792  109.0  Shubman Gill  OC McCoy      6       Sardar Ahmedabad

[225793 rows x 5 columns]

In [238]:
import pandas as pd
from sklearn.feature_extraction import FeatureHasher
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# Load data
# all_matches = pd.read_csv('all_matches.csv')
# Load data into pandas dataframe
# all_matches = pd.read_csv('data.csv')

# Convert feature names to strings
all_matches['venue'] = all_matches['venue'].astype(str)
all_matches['striker'] = all_matches['striker'].astype(str)
all_matches['bowler'] = all_matches['bowler'].astype(str)

# Split data into input and output variables
X = all_matches[['venue', 'ball', 'striker', 'bowler']]
y = all_matches['output']

# Hash Encoding for categorical features
hasher = FeatureHasher(n_features=15, input_type='string')
X = hasher.fit_transform(X.applymap(str).values)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train and evaluate Decision Tree classifier
dt_clf = DecisionTreeClassifier()
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
dt_acc = accuracy_score(y_test, dt_pred)
print(f'Decision Tree accuracy: {dt_acc:.3f}')

# Train and evaluate Random Forest classifier
rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_test)
rf_acc = accuracy_score(y_test, rf_pred)
print(f'Random Forest accuracy: {rf_acc:.3f}')

# Train and evaluate Gradient Boosting classifier
gb_clf = GradientBoostingClassifier()
gb_clf.fit(X_train, y_train)
gb_pred = gb_clf.predict(X_test)
gb_acc = accuracy_score(y_test, gb_pred)
print(f'Gradient Boosting accuracy: {gb_acc:.3f}')

Decision Tree accuracy: 0.357
Random Forest accuracy: 0.350
Gradient Boosting accuracy: 0.383

In [247]:
team1 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team1.xlsx")
team2 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team2.xlsx")
team1['bowl_innings'] = 2
team2['bowl_innings'] = 1
first_bowling_order = pd.read_csv('first_bowling_order.csv')
second_bowling_order = pd.read_csv('second_bowling_order.csv')
first_bowling_order = first_bowling_order.drop(columns=['Unnamed: 0'])
second_bowling_order = second_bowling_order.drop(columns=['Unnamed: 0'])

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():
C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

Venue,
Chinnaswamy Bangalore,
Bindra Mohali,
Feroz Delhi,
Eden Kolkata,
Wankhede Mumbai,
Mansingh Jaipur,
Rajiv Hyderabad,
Chidambaram Chennai,
Patil Mumbai,
Newlands SA,
George SA,
Kingsmead SA,
Supersport SA,
Buffalo SA,
Wanderers SA,
Beers SA,
Outsurance SA,
Brabourne Mumbai,
Sardar Ahmedabad,
Barabati Cuttack,
Brabourne Mumbai,
Vidarbha Nagpur,
HPCA Dharamshala,
Jawaharlal Kochi,
Holkar Indore,
Rajashekar Visakhapatnam,
Subrata Pune,
Subrata Pune,
Shaheed Raipur,
JSCA Ranchi,
Abudhabi UAE,
Sharjah UAE,
Dubai UAE,
Bindra Mohali,
Saurashtra Rajkot,
Green Kanpur,
Chinnaswamy Bangalore,
Chidambaram Chennai,
Feroz Delhi,
Rajiv Hyderabad,
Bindra Mohali,
Chidambaram Chennai,
Wankhede Mumbai,
Sardar Ahmedabad,
Feroz Delhi,
Abudhabi UAE,
Patil Mumbai,
Subrata Pune,
Eden Kolkata

In [250]:
# create a new input observation
new_observation = np.array(['Chinnaswamy Bangalore', 1, 'Virat Kohli', 'Jasprit Bumrah'])

# hash encode the new observation using the same hasher object
new_observation = hasher.transform([new_observation])

# make a prediction for the new observation
prediction = gb_clf.predict_proba(new_observation)

# print the predicted output
print(prediction)

[[3.95138580e-01 3.36416976e-01 5.96366361e-02 4.79178606e-03
  1.25331775e-01 2.64581184e-05 3.64574532e-02 4.22003358e-02]]

In [360]:
for index,row in first_bowling_order.iterrows():
    batsman_1 = team1.iat[0,0]
    batsman_2 = team1.iat[1,0]
    run = 0
    wicket = 0
    ground = 'Sardar Ahmedabad'
    outcomes = ['0','1','2','3','4','5','6','W']
    
    
    for rr in range(len(row)):
        for bb in range(1,7):
            
            new_input = np.array([ground, bb, batsman_1, row[rr]])
            new_observation = hasher.transform([new_input])
            prediction = gb_clf.predict_proba(new_observation)
            p = choices(outcomes, weights=weights)

            print(batsman_1, " scored ", p[0], ' on the ', bb,' ball bowled by ', row[rr],' in the ground ',ground)
            if p[0] == '0':
                run = run + 0
            elif p[0] == '1':
                batsman_1, batsman_2 = batsman_2, batsman_1
                run = run+1
            elif p[0] == '2':
                run = run+2
            elif p[0] == '3':
                batsman_1, batsman_2 = batsman_2, batsman_1
                run = run+3
            elif p[0] == '4':
                run = run+4
            elif p[0] == '5':
                batsman_1, batsman_2 = batsman_2, batsman_1
                run = run+5
            elif p[0] == '6':
                run = run+6
            elif p[0] == 'W':
                wicket = wicket + 1
                batsman_1 = team1.iat[,0]
                run = run+0
        
        break

    break

YBK Jaiswal  scored  1  on the  1  ball bowled by  TA Boult  in the ground  Sardar Ahmedabad
YBK Jaiswal  scored  4  on the  2  ball bowled by  TA Boult  in the ground  Sardar Ahmedabad
YBK Jaiswal  scored  0  on the  3  ball bowled by  TA Boult  in the ground  Sardar Ahmedabad
test
YBK Jaiswal  scored  1  on the  4  ball bowled by  TA Boult  in the ground  Sardar Ahmedabad
YBK Jaiswal  scored  4  on the  5  ball bowled by  TA Boult  in the ground  Sardar Ahmedabad
YBK Jaiswal  scored  1  on the  6  ball bowled by  TA Boult  in the ground  Sardar Ahmedabad

In [155]:
X_test['outcome'] = y_pred

In [156]:
X_test['outcome'].unique()

array(['1', '0', '5', 'W', '4', '6', '2'], dtype=object)

In [166]:
predicted = gb.predict_proba(X_test.drop(["outcome"], axis=1))

In [167]:
preds = []

In [168]:
from random import choices

for weights in predicted:
    outcomes = ['0','1','2','3','4','5','6','W']
    # weighted random selection
    p = choices(outcomes, weights=weights)

    preds.append(p[0])

In [169]:
predicted = X_test.drop(["outcome"], axis=1)
predicted["outcome"] = preds

In [170]:
for outcome in df['output'].unique():
    print ("Outcome ", outcome)
    
    test_slice = df[df["output"] == outcome]
    
    predicted_slice = predicted[predicted['outcome'] == outcome]
    
    print ("Actual Count", len(test_slice), "Predicted Count", len(predicted_slice))

Outcome  0
Actual Count 79943 Predicted Count 16059
Outcome  4
Actual Count 25476 Predicted Count 5129
Outcome  6
Actual Count 10649 Predicted Count 2176
Outcome  1
Actual Count 83548 Predicted Count 16524
Outcome  W
Actual Count 11124 Predicted Count 2256
Outcome  2
Actual Count 14284 Predicted Count 2851
Outcome  5
Actual Count 61 Predicted Count 20
Outcome  3
Actual Count 708 Predicted Count 144

In [228]:
test = le.transform(['Chinnaswamy Bangalore'])[0]

ValueError: y contains previously unseen labels: 'Chinnaswamy Bangalore'

In [186]:
team1.iat[1,0]

'JC Buttler'

In [185]:
team1

                Team1  bowl_innings
0         YBK Jaiswal             2
1          JC Buttler             2
2           SV Samson             2
3          D Padikkal             2
4          SO Hetmyer             2
5            R Ashwin             2
6             R Parag             2
7            TA Boult             2
8            OC McCoy             2
9   M Prasidh Krishna             2
10          YS Chahal             2