In [1]:
import glob
import numpy as np
csv_files = (glob.glob("C:/Users/Vishnu Kumar/Documents/IPL/raw/*info.csv"))

In [2]:
import pandas as pd


df_append = pd.DataFrame()

for file in csv_files:
            df_temp = pd.read_csv(file,sep='漢ழ்字', engine='python',header=None)
            df_temp['ID'] = file
            df_temp = df_temp[(df_temp[0].str.startswith('info,toss_winner')) | (df_temp[0].str.startswith('info,toss_decision'))]
            df_append = pd.concat([df_append,df_temp])

df_append = df_append.reset_index()
df_append[['info', 'attrib','value']] = df_append[0].str.split(",", expand = True)
df_append = df_append.drop(columns=['index',0,'info'])
df_append['ID'] = df_append['ID'].str[40:-9]
toss_winner = df_append[df_append['attrib']=='toss_winner'].copy()
toss_decision = df_append[df_append['attrib']=='toss_decision'].copy()
toss_winner['ID'] = toss_winner['ID'].astype('int')
toss_decision['ID'] = toss_decision['ID'].astype('int')

In [3]:
all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")
# all_matches
all_matches = pd.merge(all_matches, toss_winner, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_winner"})
all_matches = pd.merge(all_matches, toss_decision, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_decision"})
all_matches = all_matches[all_matches['innings']<=2]
all_matches['season'] = all_matches['season'].replace(['2007/08', '2009', '2009/10', '2011' ,'2012','2018', '2019', '2020/21', '2021'], [2008,2009,2010,2011,2012,2018,2019,2020,2021])
all_matches['toss_win_batting'] = all_matches.apply(lambda x: 1 if x['toss_winner'] == x['batting_team'] else 0, axis=1)
all_matches['toss_decision'] = all_matches.apply(lambda x: 1 if x['toss_decision'] == 'bat' else 0, axis=1)
all_matches['player_dismissed'] = all_matches.apply(lambda x: 1 if x['player_dismissed'] == x['striker'] else 0, axis=1)
all_data = all_matches.copy()
# all_matches = pd.concat([all_matches, toss_winner], axis=1, join='outer', join_axes=[match_id,ID])

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_10716\579395103.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")

In [135]:
all_matches['ball'] = (all_matches['ball'].astype('int')*6)+((all_matches['ball'] - all_matches['ball'].astype('int'))*10)

In [136]:
venue = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\venue.xlsx")
all_matches = pd.merge(all_matches, venue, how="left" ,left_on = "venue", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [137]:
team = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\team.xlsx")
all_matches = pd.merge(all_matches, team, how="left" ,left_on = "batting_team", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [138]:
team2 = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\team2.xlsx")
all_matches = pd.merge(all_matches, team2, how="left" ,left_on = "bowling_team", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [139]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "striker1","player2": "striker2","player3": "striker3","player4": "striker4","player5": "striker5","player6": "striker6","player7": "striker7","player8": "striker8","player9": "striker9","player10": "striker10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "striker", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [140]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "non_striker1","player2": "non_striker2","player3": "non_striker3","player4": "non_striker4","player5": "non_striker5","player6": "non_striker6","player7": "non_striker7","player8": "non_striker8","player9": "non_striker9","player10": "non_striker10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "non_striker", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [141]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "bowler1","player2": "bowler2","player3": "bowler3","player4": "bowler4","player5": "bowler5","player6": "bowler6","player7": "bowler7","player8": "bowler8","player9": "bowler9","player10": "bowler10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "bowler", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [116]:
wicket = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\wicket.xlsx")
# player = player.rename(columns={"player1": "bowler1","player2": "bowler2","player3": "bowler3","player4": "bowler4","player5": "bowler5","player6": "bowler6","player7": "bowler7","player8": "bowler8","player9": "bowler9","player10": "bowler10"})
all_matches = pd.merge(all_matches, wicket, how="left" ,left_on = "wicket_type", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [117]:
all_matches['wic'] = 0
for index,row in all_matches.iterrows():
    temp = all_matches[(all_matches['match_id']==all_matches['match_id'][index]) & (all_matches['innings']==all_matches['innings'][index]) & (all_matches['ball']<all_matches['ball'][index])]
    all_matches['wic'][index] = temp['wicket_type'].count()

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_8612\105967443.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches['wic'][index] = temp['wicket_type'].count()

In [118]:
all_matches = all_matches.fillna(0)

In [119]:
all_matches['target'] = 0
for index,row in all_matches.iterrows():
    if all_matches['innings'][index]==2:
        temp = all_matches[(all_matches['match_id']==all_matches['match_id'][index]) & (all_matches['innings']==1)]
        all_matches['target'][index] = temp['runs_off_bat'].sum()+temp['extras'].sum()

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_8612\395309427.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches['target'][index] = temp['runs_off_bat'].sum()+temp['extras'].sum()

In [120]:
all_matches['byes'] = all_matches['byes'] + all_matches['legbyes']
all_matches['extras'] = all_matches['extras'] - all_matches['byes']

In [121]:
all_matches = all_matches.drop(columns=['venue','match_id','start_date','batting_team','bowling_team','striker','non_striker','bowler','wides','noballs','legbyes','penalty','wicket_type','other_wicket_type','other_player_dismissed','toss_winner'])

In [122]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization, Dropout

# Load the cricket data into a Pandas DataFrame
df = all_matches.copy()

# Split the data into input features and output variables
X = df.drop(['runs_off_bat', 'extras','byes','player_dismissed','wicket1','wicket2','wicket3','wicket4','non_striker1','non_striker2','non_striker3','non_striker4','non_striker5','non_striker6','non_striker7','non_striker8','non_striker9','non_striker10'], axis=1)
y = df[['runs_off_bat', 'extras','byes','player_dismissed','wicket1','wicket2','wicket3','wicket4']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalize the input data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define the model architecture
model = Sequential()
model.add(Dense(64, input_shape=(X_train.shape[1],), activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(8, activation='linear'))

# Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')

# Train the model
model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_data=(X_test_scaled, y_test))

# Evaluate the model
score = model.evaluate(X_test_scaled, y_test)
print('Test loss:', score)

Epoch 1/50
5649/5649 [==============================] - 15s 2ms/step - loss: 0.3880 - val_loss: 0.3465
Epoch 2/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3471 - val_loss: 0.3453
Epoch 3/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3457 - val_loss: 0.3451
Epoch 4/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3450 - val_loss: 0.3444
Epoch 5/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3445 - val_loss: 0.3444
Epoch 6/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3442 - val_loss: 0.3446
Epoch 7/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3440 - val_loss: 0.3439
Epoch 8/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3438 - val_loss: 0.3442
Epoch 9/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3438 - val_loss: 0.3441
Epoch 10/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3434 - val_loss: 0.3442
Epoch 11/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3431 - val_loss: 0.3441
Epoch 12/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3429 - val_loss: 0.3443
Epoch 13/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3428 - val_loss: 0.3441
Epoch 14/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3427 - val_loss: 0.3442
Epoch 15/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3427 - val_loss: 0.3446
Epoch 16/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3425 - val_loss: 0.3440
Epoch 17/50
5649/5649 [==============================] - 16s 3ms/step - loss: 0.3423 - val_loss: 0.3440
Epoch 18/50
5649/5649 [==============================] - 15s 3ms/step - loss: 0.3422 - val_loss: 0.3442
Epoch 19/50
5649/5649 [==============================] - 15s 3ms/step - loss: 0.3421 - val_loss: 0.3442
Epoch 20/50
5649/5649 [==============================] - 15s 3ms/step - loss: 0.3420 - val_loss: 0.3447
Epoch 21/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3419 - val_loss: 0.3442
Epoch 22/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3420 - val_loss: 0.3439
Epoch 23/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3416 - val_loss: 0.3443
Epoch 24/50
5649/5649 [==============================] - 13s 2ms/step - loss: 0.3417 - val_loss: 0.3442
Epoch 25/50
5649/5649 [==============================] - 13s 2ms/step - loss: 0.3415 - val_loss: 0.3440
Epoch 26/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3416 - val_loss: 0.3439
Epoch 27/50
5649/5649 [==============================] - 13s 2ms/step - loss: 0.3416 - val_loss: 0.3439
Epoch 28/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3414 - val_loss: 0.3444
Epoch 29/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3414 - val_loss: 0.3438
Epoch 30/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3413 - val_loss: 0.3442
Epoch 31/50
5649/5649 [==============================] - 15s 3ms/step - loss: 0.3412 - val_loss: 0.3442
Epoch 32/50
5649/5649 [==============================] - 17s 3ms/step - loss: 0.3411 - val_loss: 0.3441
Epoch 33/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3412 - val_loss: 0.3440
Epoch 34/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3412 - val_loss: 0.3441
Epoch 35/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3411 - val_loss: 0.3448
Epoch 36/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3410 - val_loss: 0.3440
Epoch 37/50
5649/5649 [==============================] - 14s 2ms/step - loss: 0.3409 - val_loss: 0.3442
Epoch 38/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3407 - val_loss: 0.3439
Epoch 39/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3439
Epoch 40/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3442
Epoch 41/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3439
Epoch 42/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3441
Epoch 43/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3441
Epoch 44/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3402 - val_loss: 0.3439
Epoch 45/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3403 - val_loss: 0.3443
Epoch 46/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3406 - val_loss: 0.3441
Epoch 47/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3404 - val_loss: 0.3439
Epoch 48/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3405 - val_loss: 0.3439
Epoch 49/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3404 - val_loss: 0.3440
Epoch 50/50
5649/5649 [==============================] - 14s 3ms/step - loss: 0.3402 - val_loss: 0.3440
1413/1413 [==============================] - 2s 1ms/step - loss: 0.3440
Test loss: 0.3439507782459259

Venue,
Chinnaswamy Bangalore,
Bindra Mohali,
Feroz Delhi,
Eden Kolkata,
Wankhede Mumbai,
Mansingh Jaipur,
Rajiv Hyderabad,
Chidambaram Chennai,
Patil Mumbai,
Newlands SA,
George SA,
Kingsmead SA,
Supersport SA,
Buffalo SA,
Wanderers SA,
Beers SA,
Outsurance SA,
Brabourne Mumbai,
Sardar Ahmedabad,
Barabati Cuttack,
Brabourne Mumbai,
Vidarbha Nagpur,
HPCA Dharamshala,
Jawaharlal Kochi,
Holkar Indore,
Rajashekar Visakhapatnam,
Subrata Pune,
Subrata Pune,
Shaheed Raipur,
JSCA Ranchi,
Abudhabi UAE,
Sharjah UAE,
Dubai UAE,
Bindra Mohali,
Saurashtra Rajkot,
Green Kanpur,
Chinnaswamy Bangalore,
Chidambaram Chennai,
Feroz Delhi,
Rajiv Hyderabad,
Bindra Mohali,
Chidambaram Chennai,
Wankhede Mumbai,
Sardar Ahmedabad,
Feroz Delhi,
Abudhabi UAE,
Patil Mumbai,
Subrata Pune,
Eden Kolkata

Team,
Kolkata,
Bangalore,
Chennai,
Punjab,
Rajastan,
Delhi,
Hyderabad,
Mumbai,
Kochi,
Pune,
Hyderabad,
Pune,
Gujarat,
Pune,
Delhi,
Punjab,
Lucknow,
Gujarat

In [97]:
all_for_bowlers = all_data.copy()
all_for_bowlers['ball'] = (all_for_bowlers['ball'].apply(np.floor))+1
all_for_bowlers = all_for_bowlers.drop(columns=['start_date','striker','non_striker','runs_off_bat','extras','wides','noballs','byes','legbyes','penalty','wicket_type','player_dismissed','other_wicket_type','other_player_dismissed'])
all_for_bowlers['over1'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 1 else 0, axis=1)
all_for_bowlers['over2'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 2 else 0, axis=1)
all_for_bowlers['over3'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 3 else 0, axis=1)
all_for_bowlers['over4'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 4 else 0, axis=1)
all_for_bowlers['over5'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 5 else 0, axis=1)
all_for_bowlers['over6'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 6 else 0, axis=1)
all_for_bowlers['over7'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 7 else 0, axis=1)
all_for_bowlers['over8'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 8 else 0, axis=1)
all_for_bowlers['over9'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 9 else 0, axis=1)
all_for_bowlers['over10'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 10 else 0, axis=1)
all_for_bowlers['over11'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 11 else 0, axis=1)
all_for_bowlers['over12'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 12 else 0, axis=1)
all_for_bowlers['over13'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 13 else 0, axis=1)
all_for_bowlers['over14'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 14 else 0, axis=1)
all_for_bowlers['over15'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 15 else 0, axis=1)
all_for_bowlers['over16'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 16 else 0, axis=1)
all_for_bowlers['over17'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 17 else 0, axis=1)
all_for_bowlers['over18'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 18 else 0, axis=1)
all_for_bowlers['over19'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 19 else 0, axis=1)
all_for_bowlers['over20'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 20 else 0, axis=1)
# all_for_bowlers

In [98]:
all_for_bowlers = pd.pivot_table(all_for_bowlers, values =['over1','over2','over3','over4','over5','over6','over7','over8','over9','over10','over11','over12','over13','over14','over15','over16','over17','over18','over19','over20'], index =['match_id', 'season','venue','innings','batting_team','bowling_team','bowler','toss_winner','toss_decision','toss_win_batting'], aggfunc = np.max).reset_index()
all_for_bowlers = pd.pivot_table(all_for_bowlers, values=['over1','over2','over3','over4','over5','over6','over7','over8','over9','over10','over11','over12','over13','over14','over15','over16','over17','over18','over19','over20'], index=['innings','bowler'], aggfunc=np.sum).reset_index()

In [99]:
innings_detail = pd.pivot_table(all_data,values='ball',index=['match_id','innings','bowling_team']).reset_index()
innings_detail = innings_detail.drop(columns = ['ball'])

In [100]:
df_append = pd.DataFrame()

for file in csv_files:
            df_temp = pd.read_csv(file,sep='漢ழ்字', engine='python',header=None)
            df_temp['ID'] = file
            df_temp = df_temp[(df_temp[0].str.startswith('info,player,'))]
            df_append = pd.concat([df_append,df_temp])
df_append = df_append.reset_index()
df_append[['info', 'play','team','player']] = df_append[0].str.split(",", expand = True)
df_append = df_append.drop(columns=['index',0,'info','play'])
df_append['ID'] = df_append['ID'].str[40:-9].astype('int')
player_list = pd.merge(df_append, innings_detail, how="left" ,left_on = ['ID','team'], right_on = ['match_id','bowling_team'] )
player_list = player_list.drop(columns=['match_id','bowling_team'])

In [101]:
player_list = pd.pivot_table(player_list, values='team', index=['player','innings'], aggfunc='count').reset_index()

In [102]:
all_for_bowlers = pd.merge(all_for_bowlers,player_list,how = 'left', left_on=['innings','bowler'], right_on=['innings','player'])

In [103]:
all_for_bowlers = all_for_bowlers.drop(columns=['player'])
all_for_bowlers = all_for_bowlers.rename(columns={"team": "no_of_matches"})
all_for_bowlers['over1'] = all_for_bowlers['over1']/all_for_bowlers['no_of_matches']
all_for_bowlers['over2'] = all_for_bowlers['over2']/all_for_bowlers['no_of_matches']
all_for_bowlers['over3'] = all_for_bowlers['over3']/all_for_bowlers['no_of_matches']
all_for_bowlers['over4'] = all_for_bowlers['over4']/all_for_bowlers['no_of_matches']
all_for_bowlers['over5'] = all_for_bowlers['over5']/all_for_bowlers['no_of_matches']
all_for_bowlers['over6'] = all_for_bowlers['over6']/all_for_bowlers['no_of_matches']
all_for_bowlers['over7'] = all_for_bowlers['over7']/all_for_bowlers['no_of_matches']
all_for_bowlers['over8'] = all_for_bowlers['over8']/all_for_bowlers['no_of_matches']
all_for_bowlers['over9'] = all_for_bowlers['over9']/all_for_bowlers['no_of_matches']
all_for_bowlers['over10'] = all_for_bowlers['over10']/all_for_bowlers['no_of_matches']
all_for_bowlers['over11'] = all_for_bowlers['over11']/all_for_bowlers['no_of_matches']
all_for_bowlers['over12'] = all_for_bowlers['over12']/all_for_bowlers['no_of_matches']
all_for_bowlers['over13'] = all_for_bowlers['over13']/all_for_bowlers['no_of_matches']
all_for_bowlers['over14'] = all_for_bowlers['over14']/all_for_bowlers['no_of_matches']
all_for_bowlers['over15'] = all_for_bowlers['over15']/all_for_bowlers['no_of_matches']
all_for_bowlers['over16'] = all_for_bowlers['over16']/all_for_bowlers['no_of_matches']
all_for_bowlers['over17'] = all_for_bowlers['over17']/all_for_bowlers['no_of_matches']
all_for_bowlers['over18'] = all_for_bowlers['over18']/all_for_bowlers['no_of_matches']
all_for_bowlers['over19'] = all_for_bowlers['over19']/all_for_bowlers['no_of_matches']
all_for_bowlers['over20'] = all_for_bowlers['over20']/all_for_bowlers['no_of_matches']
all_for_bowlers['overs_per_match'] = 0
for i in range(1, 21):
    all_for_bowlers['overs_per_match'] += all_for_bowlers[f'over{i}']

In [104]:
all_for_bowlers = all_for_bowlers[['innings','bowler', 'over1', 'over2', 'over3', 'over4', 'over5', 'over6', 'over7', 'over8', 'over9', 'over10', 'over11', 'over12', 'over13', 'over14', 'over15', 'over16', 'over17', 'over18', 'over19', 'over20', 'no_of_matches','overs_per_match']]

In [106]:
team1 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team1.xlsx")
team2 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team2.xlsx")
team1['bowl_innings'] = 2
team2['bowl_innings'] = 1

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():
C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [107]:
team1 = pd.merge(team1, all_for_bowlers, how = 'left', right_on = ['innings','bowler'] , left_on = ['bowl_innings', 'Team1'])
team1 = team1.dropna()
team1 = team1.drop(columns=['innings','Team1','no_of_matches'])

In [108]:
def has_element_frequency_more_than_4(tup):
    count = {}
    for item in tup:
        count[item] = count.get(item, 0) + 1
        if count[item] >= 4:
            return True
    return False

def has_consecutive_elements(tup):
    return any(a == b for a, b in zip(tup, tup[1:]))

def has_consecutive_numbers(t):
    return any(t[i] == t[i-1] + 1 for i in range(1, len(t)))

In [109]:
overs = [-5,-3,-1,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
import itertools
combinations = list(itertools.combinations(overs, 4))
filtered_lst = []
for tup in combinations:
    if has_consecutive_elements(tup)==False:
        if has_consecutive_numbers(tup)==False:
            filtered_lst.append(tup)
remove_items = (-5, -3, -1)
filtered_lst = [tuple(item for item in tup if item not in remove_items) for tup in filtered_lst]
filtered_lst = [tuple(item for item in tup if item) for tup in filtered_lst]
unique_tuples = []
for tup in filtered_lst:
    set_tup = set(tup)
    if set_tup not in unique_tuples:
        unique_tuples.append(set_tup)

filtered_lst = [tuple(set_tup) for set_tup in unique_tuples]

In [172]:
my_list = team1['bowler'].to_numpy()

all_possible_bowler = pd.DataFrame(columns=['bowler', 'number_of_possibility'])


for i, val in enumerate(my_list):
    new_var_name = f"bowler_lst_{i}"
    locals()[new_var_name] = []
    bowler_average = team1[team1['bowler']==val]['overs_per_match'].iloc[0]
    bowler_average_max = round(bowler_average+0.5)
    bowler_average_min = round(bowler_average-0.5)
    if bowler_average_max>4:
        bowler_average_max = 4
        
    if bowler_average_min < 0:
        bowler_average_min =0

    bowler = val
    
    new_values = {1: team1.loc[team1['bowler'] == bowler, 'over1'].iloc[0], 
              2: team1.loc[team1['bowler'] == bowler, 'over2'].iloc[0], 
              3: team1.loc[team1['bowler'] == bowler, 'over3'].iloc[0],
              4: team1.loc[team1['bowler'] == bowler, 'over4'].iloc[0], 
              5: team1.loc[team1['bowler'] == bowler, 'over5'].iloc[0], 
              6: team1.loc[team1['bowler'] == bowler, 'over6'].iloc[0], 
              7: team1.loc[team1['bowler'] == bowler, 'over7'].iloc[0], 
              8: team1.loc[team1['bowler'] == bowler, 'over8'].iloc[0], 
              9: team1.loc[team1['bowler'] == bowler, 'over9'].iloc[0], 
              10: team1.loc[team1['bowler'] == bowler, 'over10'].iloc[0], 
              11: team1.loc[team1['bowler'] == bowler, 'over11'].iloc[0], 
              12: team1.loc[team1['bowler'] == bowler, 'over12'].iloc[0], 
              13: team1.loc[team1['bowler'] == bowler, 'over13'].iloc[0], 
              14: team1.loc[team1['bowler'] == bowler, 'over14'].iloc[0], 
              15: team1.loc[team1['bowler'] == bowler, 'over15'].iloc[0], 
              16: team1.loc[team1['bowler'] == bowler, 'over16'].iloc[0], 
              17: team1.loc[team1['bowler'] == bowler, 'over17'].iloc[0], 
              18: team1.loc[team1['bowler'] == bowler, 'over18'].iloc[0], 
              19: team1.loc[team1['bowler'] == bowler, 'over19'].iloc[0], 
              20: team1.loc[team1['bowler'] == bowler, 'over20'].iloc[0]}

    threshold = 0.15
    
    for tup in filtered_lst:
        flag = True
        for item in tup:
            if new_values[item] < threshold:
                flag = False
                break
        if flag:
            if len(tup)<=bowler_average_max and len(tup)>=bowler_average_max:
                locals()[new_var_name].append(tup)
                
    locals()[new_var_name] = [tuple(sorted(t)) for t in locals()[new_var_name]]
    all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_10716\421739593.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_10716\421739593.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_10716\421739593.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_10716\421739593.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_10716\421739593.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_10716\421739593.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_10716\421739593.py:54: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)

In [173]:
all_possible_bowler = all_possible_bowler[all_possible_bowler['number_of_possibility']>0].reset_index()

In [174]:
bowler_lst_0 = pd.DataFrame(locals()[f"bowler_lst_{all_possible_bowler['index'][0]}"])
bowler_lst_0 = bowler_lst_0.rename(columns={0:f"bowler_lst_{all_possible_bowler['index'][0]}_1",1:f"bowler_lst_{all_possible_bowler['index'][0]}_2",2:f"bowler_lst_{all_possible_bowler['index'][0]}_3",3:f"bowler_lst_{all_possible_bowler['index'][0]}_3"})

bowler_lst_1 = pd.DataFrame(locals()[f"bowler_lst_{all_possible_bowler['index'][1]}"])
bowler_lst_1 = bowler_lst_1.rename(columns={0:f"bowler_lst_{all_possible_bowler['index'][1]}_1",1:f"bowler_lst_{all_possible_bowler['index'][1]}_2",2:f"bowler_lst_{all_possible_bowler['index'][1]}_3",3:f"bowler_lst_{all_possible_bowler['index'][1]}_3"})

result = pd.merge(bowler_lst_0, bowler_lst_1, how="cross")

# Identify rows that contain duplicate values in any column
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)

# Drop rows that contain duplicate values in any column
result = result[duplicate_mask]

In [175]:
bowler_lst_2 = pd.DataFrame(locals()[f"bowler_lst_{all_possible_bowler['index'][2]}"])
bowler_lst_2 = bowler_lst_2.rename(columns={0:f"bowler_lst_{all_possible_bowler['index'][2]}_1",1:f"bowler_lst_{all_possible_bowler['index'][2]}_2",2:f"bowler_lst_{all_possible_bowler['index'][2]}_3",3:f"bowler_lst_{all_possible_bowler['index'][2]}_3"})

result = pd.merge(result, bowler_lst_2, how="cross")

# Identify rows that contain duplicate values in any column
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)

# Drop rows that contain duplicate values in any column
result = result[duplicate_mask]

In [176]:
bowler_lst_3 = pd.DataFrame(locals()[f"bowler_lst_{all_possible_bowler['index'][3]}"])
bowler_lst_3 = bowler_lst_3.rename(columns={0:f"bowler_lst_{all_possible_bowler['index'][3]}_1",1:f"bowler_lst_{all_possible_bowler['index'][3]}_2",2:f"bowler_lst_{all_possible_bowler['index'][3]}_3",3:f"bowler_lst_{all_possible_bowler['index'][3]}_3"})

result = pd.merge(result, bowler_lst_3, how="cross")

# Identify rows that contain duplicate values in any column
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)

# Drop rows that contain duplicate values in any column
result = result[duplicate_mask]

In [177]:
bowler_lst_4 = pd.DataFrame(locals()[f"bowler_lst_{all_possible_bowler['index'][4]}"])
bowler_lst_4 = bowler_lst_4.rename(columns={0:f"bowler_lst_{all_possible_bowler['index'][4]}_1",1:f"bowler_lst_{all_possible_bowler['index'][4]}_2",2:f"bowler_lst_{all_possible_bowler['index'][4]}_3",3:f"bowler_lst_{all_possible_bowler['index'][4]}_3"})

result = pd.merge(result, bowler_lst_4, how="cross")

# Identify rows that contain duplicate values in any column
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)

# Drop rows that contain duplicate values in any column
result = result[duplicate_mask]

In [178]:
result

,bowler_lst_1_1,bowler_lst_1_2,bowler_lst_1_3,bowler_lst_1_3,bowler_lst_3_1,bowler_lst_3_2,bowler_lst_3_3,bowler_lst_3_3,bowler_lst_4_1,bowler_lst_4_2,bowler_lst_4_3,bowler_lst_4_3,bowler_lst_5_1,bowler_lst_5_2,bowler_lst_5_3,bowler_lst_5_3,bowler_lst_6_1,bowler_lst_6_2,bowler_lst_6_3,bowler_lst_6_3
195,1,3,5,7,13,16,18,20,4,9,11,15,2,6,17,19,8,10,12,14
545,1,3,5,7,13,16,18,20,9,11,15,17,2,4,6,19,8,10,12,14
615,1,3,5,7,13,16,18,20,9,11,15,19,2,4,6,17,8,10,12,14
955,1,3,5,8,13,16,18,20,4,9,11,15,2,6,17,19,7,10,12,14
1145,1,3,5,8,13,16,18,20,7,9,11,15,2,4,17,19,6,10,12,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23921947,10,12,14,16,1,3,17,19,4,7,9,13,2,5,18,20,6,8,11,15
23922085,10,12,14,16,1,3,17,19,4,7,9,15,2,5,18,20,6,8,11,13
23928812,10,12,14,16,1,3,18,20,4,7,9,11,2,5,17,19,6,8,13,15
23928947,10,12,14,16,1,3,18,20,4,7,9,13,2,5,17,19,6,8,11,15
23929085,10,12,14,16,1,3,18,20,4,7,9,15,2,5,17,19,6,8,11,13