In [4]:
import glob
import numpy as np
csv_files = (glob.glob("C:/Users/Vishnu Kumar/Documents/IPL/raw/*info.csv"))

In [5]:
import pandas as pd


df_append = pd.DataFrame()

for file in csv_files:
            df_temp = pd.read_csv(file,sep='漢ழ்字', engine='python',header=None)
            df_temp['ID'] = file
            df_temp = df_temp[(df_temp[0].str.startswith('info,toss_winner')) | (df_temp[0].str.startswith('info,toss_decision'))]
            df_append = pd.concat([df_append,df_temp])

df_append = df_append.reset_index()
df_append[['info', 'attrib','value']] = df_append[0].str.split(",", expand = True)
df_append = df_append.drop(columns=['index',0,'info'])
df_append['ID'] = df_append['ID'].str[40:-9]
toss_winner = df_append[df_append['attrib']=='toss_winner'].copy()
toss_decision = df_append[df_append['attrib']=='toss_decision'].copy()
toss_winner['ID'] = toss_winner['ID'].astype('int')
toss_decision['ID'] = toss_decision['ID'].astype('int')

In [6]:
all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")
# all_matches
all_matches = pd.merge(all_matches, toss_winner, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_winner"})
all_matches = pd.merge(all_matches, toss_decision, how="left" ,left_on = "match_id", right_on = "ID" )
all_matches = all_matches.drop(columns=["ID", "attrib"])
all_matches = all_matches.rename(columns={"value": "toss_decision"})
all_matches = all_matches[all_matches['innings']<=2]
all_matches['season'] = all_matches['season'].replace(['2007/08', '2009', '2009/10', '2011' ,'2012','2018', '2019', '2020/21', '2021'], [2008,2009,2010,2011,2012,2018,2019,2020,2021])
all_matches['toss_win_batting'] = all_matches.apply(lambda x: 1 if x['toss_winner'] == x['batting_team'] else 0, axis=1)
all_matches['toss_decision'] = all_matches.apply(lambda x: 1 if x['toss_decision'] == 'bat' else 0, axis=1)
all_matches['player_dismissed'] = all_matches.apply(lambda x: 1 if x['player_dismissed'] == x['striker'] else 0, axis=1)
all_data = all_matches.copy()
# all_matches = pd.concat([all_matches, toss_winner], axis=1, join='outer', join_axes=[match_id,ID])

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_13396\579395103.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  all_matches = pd.read_csv("C:/Users/Vishnu Kumar/Documents/IPL/raw/all_matches.csv")

In [4]:
all_matches['ball'] = (all_matches['ball'].astype('int')*6)+((all_matches['ball'] - all_matches['ball'].astype('int'))*10)

In [5]:
venue = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\venue.xlsx")
all_matches = pd.merge(all_matches, venue, how="left" ,left_on = "venue", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [6]:
team = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\team.xlsx")
all_matches = pd.merge(all_matches, team, how="left" ,left_on = "batting_team", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [7]:
team2 = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\team2.xlsx")
all_matches = pd.merge(all_matches, team2, how="left" ,left_on = "bowling_team", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","Bit"])
# all_matches

In [8]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "striker1","player2": "striker2","player3": "striker3","player4": "striker4","player5": "striker5","player6": "striker6","player7": "striker7","player8": "striker8","player9": "striker9","player10": "striker10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "striker", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [9]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "non_striker1","player2": "non_striker2","player3": "non_striker3","player4": "non_striker4","player5": "non_striker5","player6": "non_striker6","player7": "non_striker7","player8": "non_striker8","player9": "non_striker9","player10": "non_striker10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "non_striker", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [10]:
player = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\player.xlsx")
player = player.rename(columns={"player1": "bowler1","player2": "bowler2","player3": "bowler3","player4": "bowler4","player5": "bowler5","player6": "bowler6","player7": "bowler7","player8": "bowler8","player9": "bowler9","player10": "bowler10"})
all_matches = pd.merge(all_matches, player, how="left" ,left_on = "bowler", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [11]:
wicket = pd.read_excel(r"C:\Users\Vishnu Kumar\Documents\IPL\LU\wicket.xlsx")
# player = player.rename(columns={"player1": "bowler1","player2": "bowler2","player3": "bowler3","player4": "bowler4","player5": "bowler5","player6": "bowler6","player7": "bowler7","player8": "bowler8","player9": "bowler9","player10": "bowler10"})
all_matches = pd.merge(all_matches, wicket, how="left" ,left_on = "wicket_type", right_on = "key" )
all_matches = all_matches.drop(columns=["key", "filter name","bit"])
# all_matches

In [12]:
all_matches['wic'] = 0
for index,row in all_matches.iterrows():
    temp = all_matches[(all_matches['match_id']==all_matches['match_id'][index]) & (all_matches['innings']==all_matches['innings'][index]) & (all_matches['ball']<all_matches['ball'][index])]
    all_matches['wic'][index] = temp['wicket_type'].count()

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_6756\105967443.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches['wic'][index] = temp['wicket_type'].count()

In [13]:
all_matches = all_matches.fillna(0)

In [14]:
all_matches['target'] = 0
for index,row in all_matches.iterrows():
    if all_matches['innings'][index]==2:
        temp = all_matches[(all_matches['match_id']==all_matches['match_id'][index]) & (all_matches['innings']==1)]
        all_matches['target'][index] = temp['runs_off_bat'].sum()+temp['extras'].sum()

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_6756\395309427.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches['target'][index] = temp['runs_off_bat'].sum()+temp['extras'].sum()

In [15]:
all_matches['byes'] = all_matches['byes'] + all_matches['legbyes']
all_matches['extras'] = all_matches['extras'] - all_matches['byes']

In [16]:
all_matches = all_matches.drop(columns=['venue','match_id','start_date','batting_team','bowling_team','striker','non_striker','bowler','wides','noballs','legbyes','penalty','wicket_type','other_wicket_type','other_player_dismissed','toss_winner'])

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization, Dropout

# Load the cricket data into a Pandas DataFrame
df = all_matches.copy()

# Split the data into input features and output variables
X = df.drop(['runs_off_bat', 'extras','byes','player_dismissed','wicket1','wicket2','wicket3','wicket4'], axis=1)
y = df[['runs_off_bat', 'extras','byes','player_dismissed','wicket1','wicket2','wicket3','wicket4']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalize the input data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define the model architecture
model = Sequential()
model.add(Dense(64, input_shape=(X_train.shape[1],), activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(8, activation='linear'))

# Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')

# Train the model
model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_data=(X_test_scaled, y_test))

# Evaluate the model
score = model.evaluate(X_test_scaled, y_test)
print('Test loss:', score)

Epoch 1/50
5645/5645 [==============================] - 18s 3ms/step - loss: 0.3988 - val_loss: 0.3458
Epoch 2/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3474 - val_loss: 0.3440
Epoch 3/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3459 - val_loss: 0.3439
Epoch 4/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3452 - val_loss: 0.3434
Epoch 5/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3447 - val_loss: 0.3434
Epoch 6/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3443 - val_loss: 0.3431
Epoch 7/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3441 - val_loss: 0.3427
Epoch 8/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3436 - val_loss: 0.3428
Epoch 9/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3434 - val_loss: 0.3431
Epoch 10/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3432 - val_loss: 0.3427
Epoch 11/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3428 - val_loss: 0.3425
Epoch 12/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3427 - val_loss: 0.3424
Epoch 13/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3427 - val_loss: 0.3426
Epoch 14/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3423 - val_loss: 0.3425
Epoch 15/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3422 - val_loss: 0.3425
Epoch 16/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3421 - val_loss: 0.3428
Epoch 17/50
5645/5645 [==============================] - 23s 4ms/step - loss: 0.3420 - val_loss: 0.3424
Epoch 18/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3420 - val_loss: 0.3425
Epoch 19/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3419 - val_loss: 0.3423
Epoch 20/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3417 - val_loss: 0.3427
Epoch 21/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3419 - val_loss: 0.3425
Epoch 22/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3417 - val_loss: 0.3424
Epoch 23/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3412 - val_loss: 0.3425
Epoch 24/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3410 - val_loss: 0.3427
Epoch 25/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3412 - val_loss: 0.3424
Epoch 26/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3411 - val_loss: 0.3422
Epoch 27/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3412 - val_loss: 0.3423
Epoch 28/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3407 - val_loss: 0.3430
Epoch 29/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3411 - val_loss: 0.3425
Epoch 30/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3408 - val_loss: 0.3425
Epoch 31/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3407 - val_loss: 0.3426
Epoch 32/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3406 - val_loss: 0.3429
Epoch 33/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3407 - val_loss: 0.3427
Epoch 34/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3406 - val_loss: 0.3427
Epoch 35/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3403 - val_loss: 0.3431
Epoch 36/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3403 - val_loss: 0.3429
Epoch 37/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3403 - val_loss: 0.3428
Epoch 38/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3402 - val_loss: 0.3429
Epoch 39/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3402 - val_loss: 0.3427
Epoch 40/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3404 - val_loss: 0.3427
Epoch 41/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3399 - val_loss: 0.3425
Epoch 42/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3401 - val_loss: 0.3428
Epoch 43/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3399 - val_loss: 0.3427
Epoch 44/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3399 - val_loss: 0.3428
Epoch 45/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3401 - val_loss: 0.3429
Epoch 46/50
5645/5645 [==============================] - 20s 3ms/step - loss: 0.3398 - val_loss: 0.3426
Epoch 47/50
5645/5645 [==============================] - 15s 3ms/step - loss: 0.3398 - val_loss: 0.3427
Epoch 48/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3398 - val_loss: 0.3430
Epoch 49/50
5645/5645 [==============================] - 17s 3ms/step - loss: 0.3397 - val_loss: 0.3427
Epoch 50/50
5645/5645 [==============================] - 16s 3ms/step - loss: 0.3398 - val_loss: 0.3427
1412/1412 [==============================] - 2s 2ms/step - loss: 0.3427
Test loss: 0.34274572134017944

In [7]:
all_for_bowlers = all_data.copy()
all_for_bowlers['ball'] = (all_for_bowlers['ball'].apply(np.floor))+1
all_for_bowlers = all_for_bowlers.drop(columns=['start_date','striker','non_striker','runs_off_bat','extras','wides','noballs','byes','legbyes','penalty','wicket_type','player_dismissed','other_wicket_type','other_player_dismissed'])
all_for_bowlers['over1'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 1 else 0, axis=1)
all_for_bowlers['over2'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 2 else 0, axis=1)
all_for_bowlers['over3'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 3 else 0, axis=1)
all_for_bowlers['over4'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 4 else 0, axis=1)
all_for_bowlers['over5'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 5 else 0, axis=1)
all_for_bowlers['over6'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 6 else 0, axis=1)
all_for_bowlers['over7'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 7 else 0, axis=1)
all_for_bowlers['over8'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 8 else 0, axis=1)
all_for_bowlers['over9'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 9 else 0, axis=1)
all_for_bowlers['over10'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 10 else 0, axis=1)
all_for_bowlers['over11'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 11 else 0, axis=1)
all_for_bowlers['over12'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 12 else 0, axis=1)
all_for_bowlers['over13'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 13 else 0, axis=1)
all_for_bowlers['over14'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 14 else 0, axis=1)
all_for_bowlers['over15'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 15 else 0, axis=1)
all_for_bowlers['over16'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 16 else 0, axis=1)
all_for_bowlers['over17'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 17 else 0, axis=1)
all_for_bowlers['over18'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 18 else 0, axis=1)
all_for_bowlers['over19'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 19 else 0, axis=1)
all_for_bowlers['over20'] = all_for_bowlers.apply(lambda x: 1 if x['ball'] == 20 else 0, axis=1)
# all_for_bowlers

In [28]:
all_for_bowlers = pd.pivot_table(all_for_bowlers, values =['over1','over2','over3','over4','over5','over6','over7','over8','over9','over10','over11','over12','over13','over14','over15','over16','over17','over18','over19','over20'], index =['match_id', 'season','venue','innings','batting_team','bowling_team','bowler','toss_winner','toss_decision','toss_win_batting'], aggfunc = np.max).reset_index()
all_for_bowlers = pd.pivot_table(all_for_bowlers, values=['over1','over2','over3','over4','over5','over6','over7','over8','over9','over10','over11','over12','over13','over14','over15','over16','over17','over18','over19','over20'], index=['innings','bowler'], aggfunc=np.sum).reset_index()

In [29]:
innings_detail = pd.pivot_table(all_data,values='ball',index=['match_id','innings','bowling_team']).reset_index()
innings_detail = innings_detail.drop(columns = ['ball'])

In [30]:
df_append = pd.DataFrame()

for file in csv_files:
            df_temp = pd.read_csv(file,sep='漢ழ்字', engine='python',header=None)
            df_temp['ID'] = file
            df_temp = df_temp[(df_temp[0].str.startswith('info,player,'))]
            df_append = pd.concat([df_append,df_temp])
df_append = df_append.reset_index()
df_append[['info', 'play','team','player']] = df_append[0].str.split(",", expand = True)
df_append = df_append.drop(columns=['index',0,'info','play'])
df_append['ID'] = df_append['ID'].str[40:-9].astype('int')
player_list = pd.merge(df_append, innings_detail, how="left" ,left_on = ['ID','team'], right_on = ['match_id','bowling_team'] )
player_list = player_list.drop(columns=['match_id','bowling_team'])

In [31]:
player_list = pd.pivot_table(player_list, values='team', index=['player','innings'], aggfunc='count').reset_index()

In [32]:
all_for_bowlers = pd.merge(all_for_bowlers,player_list,how = 'left', left_on=['innings','bowler'], right_on=['innings','player'])

In [33]:
all_for_bowlers = all_for_bowlers.drop(columns=['player'])
all_for_bowlers = all_for_bowlers.rename(columns={"team": "no_of_matches"})
all_for_bowlers['over1'] = all_for_bowlers['over1']/all_for_bowlers['no_of_matches']
all_for_bowlers['over2'] = all_for_bowlers['over2']/all_for_bowlers['no_of_matches']
all_for_bowlers['over3'] = all_for_bowlers['over3']/all_for_bowlers['no_of_matches']
all_for_bowlers['over4'] = all_for_bowlers['over4']/all_for_bowlers['no_of_matches']
all_for_bowlers['over5'] = all_for_bowlers['over5']/all_for_bowlers['no_of_matches']
all_for_bowlers['over6'] = all_for_bowlers['over6']/all_for_bowlers['no_of_matches']
all_for_bowlers['over7'] = all_for_bowlers['over7']/all_for_bowlers['no_of_matches']
all_for_bowlers['over8'] = all_for_bowlers['over8']/all_for_bowlers['no_of_matches']
all_for_bowlers['over9'] = all_for_bowlers['over9']/all_for_bowlers['no_of_matches']
all_for_bowlers['over10'] = all_for_bowlers['over10']/all_for_bowlers['no_of_matches']
all_for_bowlers['over11'] = all_for_bowlers['over11']/all_for_bowlers['no_of_matches']
all_for_bowlers['over12'] = all_for_bowlers['over12']/all_for_bowlers['no_of_matches']
all_for_bowlers['over13'] = all_for_bowlers['over13']/all_for_bowlers['no_of_matches']
all_for_bowlers['over14'] = all_for_bowlers['over14']/all_for_bowlers['no_of_matches']
all_for_bowlers['over15'] = all_for_bowlers['over15']/all_for_bowlers['no_of_matches']
all_for_bowlers['over16'] = all_for_bowlers['over16']/all_for_bowlers['no_of_matches']
all_for_bowlers['over17'] = all_for_bowlers['over17']/all_for_bowlers['no_of_matches']
all_for_bowlers['over18'] = all_for_bowlers['over18']/all_for_bowlers['no_of_matches']
all_for_bowlers['over19'] = all_for_bowlers['over19']/all_for_bowlers['no_of_matches']
all_for_bowlers['over20'] = all_for_bowlers['over20']/all_for_bowlers['no_of_matches']
all_for_bowlers['overs_per_match'] = 0
for i in range(1, 21):
    all_for_bowlers['overs_per_match'] += all_for_bowlers[f'over{i}']

In [34]:
all_for_bowlers = all_for_bowlers[['innings','bowler', 'over1', 'over2', 'over3', 'over4', 'over5', 'over6', 'over7', 'over8', 'over9', 'over10', 'over11', 'over12', 'over13', 'over14', 'over15', 'over16', 'over17', 'over18', 'over19', 'over20', 'no_of_matches','overs_per_match']]

In [35]:
def has_element_frequency_more_than_4(tup):
    count = {}
    for item in tup:
        count[item] = count.get(item, 0) + 1
        if count[item] >= 4:
            return True
    return False

def has_consecutive_elements(tup):
    return any(a == b for a, b in zip(tup, tup[1:]))

def has_consecutive_numbers(t):
    return any(t[i] == t[i-1] + 1 for i in range(1, len(t)))

In [36]:
overs = [-5,-3,-1,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
import itertools
combinations = list(itertools.combinations(overs, 4))
filtered_lst = []
for tup in combinations:
    if has_consecutive_elements(tup)==False:
        if has_consecutive_numbers(tup)==False:
            filtered_lst.append(tup)
# remove_items = (-5, -3, -1)
# filtered_lst = [tuple(item for item in tup if item not in remove_items) for tup in filtered_lst]
filtered_lst = [tuple(item for item in tup if item) for tup in filtered_lst]
unique_tuples = []
for tup in filtered_lst:
    set_tup = set(tup)
    if set_tup not in unique_tuples:
        unique_tuples.append(set_tup)

filtered_lst = [tuple(set_tup) for set_tup in unique_tuples]

In [37]:
team1 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team1.xlsx")
team2 = pd.read_excel("C:/Users/Vishnu Kumar/Documents/IPL/input/team2.xlsx")
team1['bowl_innings'] = 2
team2['bowl_innings'] = 1

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():
C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [38]:
team1 = pd.merge(team2, all_for_bowlers, how = 'left', right_on = ['innings','bowler'] , left_on = ['bowl_innings', 'Team2'])
team1 = team1.dropna()
team1 = team1.drop(columns=['innings','Team2','no_of_matches'])

In [39]:
my_list = team1['bowler'].to_numpy()

all_possible_bowler = pd.DataFrame(columns=['bowler', 'number_of_possibility'])
all_bowler_combination = pd.DataFrame(columns=['bowler', 'number_of_overs'])
remove_items = (-5, -3, -1)

for i, val in enumerate(my_list):
    new_var_name_1 = f"bowler_lst_possible_{i}"
    new_var_name = f"bowler_lst_{i}"
    locals()[new_var_name] = []
    bowler_average = team1[team1['bowler']==val]['overs_per_match'].iloc[0]
    bowler_average_max = round(bowler_average+0.5)
    bowler_average_min = round(bowler_average-0.5)
    if bowler_average_max>4:
        bowler_average_max = 4
        
    if bowler_average_min < 0:
        bowler_average_min =0

    bowler = val
    
    new_values = {1: team1.loc[team1['bowler'] == bowler, 'over1'].iloc[0], 
              2: team1.loc[team1['bowler'] == bowler, 'over2'].iloc[0], 
              3: team1.loc[team1['bowler'] == bowler, 'over3'].iloc[0],
              4: team1.loc[team1['bowler'] == bowler, 'over4'].iloc[0], 
              5: team1.loc[team1['bowler'] == bowler, 'over5'].iloc[0], 
              6: team1.loc[team1['bowler'] == bowler, 'over6'].iloc[0], 
              7: team1.loc[team1['bowler'] == bowler, 'over7'].iloc[0], 
              8: team1.loc[team1['bowler'] == bowler, 'over8'].iloc[0], 
              9: team1.loc[team1['bowler'] == bowler, 'over9'].iloc[0], 
              10: team1.loc[team1['bowler'] == bowler, 'over10'].iloc[0], 
              11: team1.loc[team1['bowler'] == bowler, 'over11'].iloc[0], 
              12: team1.loc[team1['bowler'] == bowler, 'over12'].iloc[0], 
              13: team1.loc[team1['bowler'] == bowler, 'over13'].iloc[0], 
              14: team1.loc[team1['bowler'] == bowler, 'over14'].iloc[0], 
              15: team1.loc[team1['bowler'] == bowler, 'over15'].iloc[0], 
              16: team1.loc[team1['bowler'] == bowler, 'over16'].iloc[0], 
              17: team1.loc[team1['bowler'] == bowler, 'over17'].iloc[0], 
              18: team1.loc[team1['bowler'] == bowler, 'over18'].iloc[0], 
              19: team1.loc[team1['bowler'] == bowler, 'over19'].iloc[0], 
              20: team1.loc[team1['bowler'] == bowler, 'over20'].iloc[0],
              -5: 1,
               -3: 1,
                 -1:1}

    threshold = 0.15
    
    for tup in filtered_lst:
        flag = True
        for item in tup:
            if new_values[item] < threshold:
                flag = False
                break
        if flag:
            tup = tuple(item for item in tup if item not in remove_items)
            
            if len(tup)<=bowler_average_max and len(tup)>=bowler_average_min:
                locals()[new_var_name].append(tup)

#     locals()[new_var_name] = [tuple(item for item in tup if item not in remove_items) for tup in locals()[new_var_name]]
    locals()[new_var_name] = list(set(locals()[new_var_name]))
    locals()[new_var_name] = [tuple(sorted(t)) for t in locals()[new_var_name]]
    all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
    locals()[new_var_name] = sorted(locals()[new_var_name], key=len, reverse=True)
    locals()[new_var_name_1] = list(set(len(tup) for tup in locals()[new_var_name]))


all_possible_bowler = all_possible_bowler[all_possible_bowler['number_of_possibility']>0].reset_index()

C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_21512\901689136.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_21512\901689136.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_21512\901689136.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_21512\901689136.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_21512\901689136.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_21512\901689136.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
C:\Users\Vishnu Kumar\AppData\Local\Temp\ipykernel_21512\901689136.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)

In [40]:
from itertools import product

arr = [0, 1, 2, 3, 4]
target_sum = 20
tuple_size = len(all_possible_bowler)

combinations_list = []

for combination in product(arr, repeat=tuple_size):
    if sum(combination) == target_sum:
        combinations_list.append(combination)

for i in range(len(all_possible_bowler)):
    lst = locals()[f"bowler_lst_possible_{all_possible_bowler['index'][i]}"]
    lst.append(0)
    combinations_list = [t for t in combinations_list if t[i] in lst]

In [43]:
bowler_lst_1

[(7, 11, 13),
 (7, 9, 12),
 (7, 10, 12),
 (8, 11, 13),
 (9, 11, 13),
 (8, 10, 12),
 (7, 9, 11),
 (9, 11, 13),
 (7, 9, 13),
 (8, 11, 13),
 (7, 9, 11),
 (9, 11, 13),
 (7, 11, 13),
 (7, 10, 13),
 (8, 10, 13),
 (7, 12),
 (8, 12),
 (9, 11),
 (10, 12),
 (11, 13),
 (7, 9),
 (8, 11),
 (7, 11),
 (9, 13),
 (7, 13),
 (11, 13),
 (10, 13),
 (9, 12),
 (8, 10),
 (7, 10),
 (9, 11),
 (10, 13),
 (8, 13)]

In [41]:
all_possible_bowler

   index          bowler number_of_possibility
0      0       HH Pandya                     9
1      1       R Tewatia                    33
2      2     Rashid Khan                   246
3      3   R Sai Kishore                   141
4      4     LH Ferguson                   219
5      5      Yash Dayal                   254
6      6  Mohammed Shami                   358

In [60]:
# for i in range(1,len(combinations_list)):
    
each_match_bowler = all_possible_bowler.copy() 
    
for j in range(len(each_match_bowler)):
    if combinations_list[i][j] == 0:
        each_match_bowler = each_match_bowler.drop(j)

            
each_match_bowler = each_match_bowler.drop(columns=['index'])
each_match_bowler = each_match_bowler.reset_index() 
print(each_match_bowler)
    
#     temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][0]}"])
    
#     num_non_null_items = temporary.notnull().sum(axis=1)
    
#     temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][0]]]
# #     print(combinations_list[i][each_match_bowler['index'][0]])
#     temporary = temporary.dropna(axis=1, how="any")
#     result = temporary.copy()
#     result = result.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][0]}_1",1:f"bowler_lst_{each_match_bowler['index'][0]}_2",2:f"bowler_lst_{each_match_bowler['index'][0]}_3",3:f"bowler_lst_{each_match_bowler['index'][0]}_4"})


# #     for k in range(1,len(each_match_bowler)):
        
#         temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][k]}"])
# #         print(temporary)
    
#         num_non_null_items = temporary.notnull().sum(axis=1)
    
#         temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][k]]]
#         temporary = temporary.dropna(axis=1, how="any")
# #         print(combinations_list[i][each_match_bowler['index'][k]])
#         bowler_lst_0 = temporary.copy()
#         bowler_lst_0 = bowler_lst_0.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][k]}_1",1:f"bowler_lst_{each_match_bowler['index'][k]}_2",2:f"bowler_lst_{each_match_bowler['index'][k]}_3",3:f"bowler_lst_{each_match_bowler['index'][k]}_4"})
# #         print(bowler_lst_0)
            
#         result = pd.merge(result, bowler_lst_0, how="cross")

#         duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)
#         result = result[duplicate_mask]
#         print(k)
#     break
#     result['total_overs'] = result.count(axis=1)
#     result = result[result['total_overs']==20].reset_index()
#     result = result.drop(columns=['total_overs','index'])
#     second_bowling_order = result.copy()

   index          bowler number_of_possibility
0      1       R Tewatia                    33
1      2     Rashid Khan                   246
2      3   R Sai Kishore                   141
3      4     LH Ferguson                   219
4      5      Yash Dayal                   254
5      6  Mohammed Shami                   358

In [54]:
k = 1

temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][0]}"])
    
num_non_null_items = temporary.notnull().sum(axis=1)
    
temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][0]]]
#     print(combinations_list[i][each_match_bowler['index'][0]])
temporary = temporary.dropna(axis=1, how="any")
result = temporary.copy()
result = result.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][0]}_1",1:f"bowler_lst_{each_match_bowler['index'][0]}_2",2:f"bowler_lst_{each_match_bowler['index'][0]}_3",3:f"bowler_lst_{each_match_bowler['index'][0]}_4"})




temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][k]}"])    
num_non_null_items = temporary.notnull().sum(axis=1)
    
temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][k]]]
temporary = temporary.dropna(axis=1, how="any")
bowler_lst_0 = temporary.copy()
bowler_lst_0 = bowler_lst_0.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][k]}_1",1:f"bowler_lst_{each_match_bowler['index'][k]}_2",2:f"bowler_lst_{each_match_bowler['index'][k]}_3",3:f"bowler_lst_{each_match_bowler['index'][k]}_4"})
result = pd.merge(result, bowler_lst_0, how="cross")
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)
result1 = result[duplicate_mask].copy()
print(result1)

      bowler_lst_1_1  bowler_lst_1_2  bowler_lst_2_1  bowler_lst_2_2  \
0                  7              12               8              14
1                  7              12               5              10
3                  7              12               5              10
4                  7              12               5               8
5                  7              12               8              10
...              ...             ...             ...             ...
4421               8              13               9              12
4422               8              13               5               7
4425               8              13               7              12
4426               8              13               7              12
4427               8              13               7               9

      bowler_lst_2_3  bowler_lst_2_4
0                 16              18
1                 13              16
3                 14              18
4                 11              15
5                 13              17
...              ...             ...
4421              15              18
4422               9              14
4425              14              18
4426              15              17
4427              12              17

[2224 rows x 6 columns]

In [61]:
k = 5

temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][4]}"])
    
num_non_null_items = temporary.notnull().sum(axis=1)
    
temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][4]]]
#     print(combinations_list[i][each_match_bowler['index'][0]])
temporary = temporary.dropna(axis=1, how="any")
result = temporary.copy()
result = result.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][4]}_1",1:f"bowler_lst_{each_match_bowler['index'][4]}_2",2:f"bowler_lst_{each_match_bowler['index'][4]}_3",3:f"bowler_lst_{each_match_bowler['index'][4]}_4"})




temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][k]}"])    
num_non_null_items = temporary.notnull().sum(axis=1)
    
temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][k]]]
temporary = temporary.dropna(axis=1, how="any")
bowler_lst_0 = temporary.copy()
bowler_lst_0 = bowler_lst_0.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][k]}_1",1:f"bowler_lst_{each_match_bowler['index'][k]}_2",2:f"bowler_lst_{each_match_bowler['index'][k]}_3",3:f"bowler_lst_{each_match_bowler['index'][k]}_4"})
result = pd.merge(result, bowler_lst_0, how="cross")
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)
result2 = result[duplicate_mask].copy()
print(result2)

       bowler_lst_5_1  bowler_lst_5_2  bowler_lst_5_3  bowler_lst_5_4  \
1                  10              12              18            20.0
4                  10              12              18            20.0
6                  10              12              18            20.0
7                  10              12              18            20.0
10                 10              12              18            20.0
...               ...             ...             ...             ...
13452               5              12              18            20.0
13455               5              12              18            20.0
13458               5              12              18            20.0
13459               5              12              18            20.0
13466               5              12              18            20.0

       bowler_lst_6_1  bowler_lst_6_2  bowler_lst_6_3  bowler_lst_6_4
1                   2               6              15            19.0
4                   2               6              15            17.0
6                   1               3              16            19.0
7                   1               3               6            19.0
10                  1               3              15            19.0
...               ...             ...             ...             ...
13452               1               6              16            19.0
13455               1               4               6            17.0
13458               1              15              17            19.0
13459               1               3              15            17.0
13466               6              15              17            19.0

[5084 rows x 8 columns]

In [38]:
k = 2
temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][k]}"])    
num_non_null_items = temporary.notnull().sum(axis=1)
    
temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][k]]]
temporary = temporary.dropna(axis=1, how="any")
bowler_lst_0 = temporary.copy()
bowler_lst_0 = bowler_lst_0.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][k]}_1",1:f"bowler_lst_{each_match_bowler['index'][k]}_2",2:f"bowler_lst_{each_match_bowler['index'][k]}_3",3:f"bowler_lst_{each_match_bowler['index'][k]}_4"})
result = pd.merge(result, bowler_lst_0, how="cross")
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)
result = result[duplicate_mask]
print(result)

        bowler_lst_1_1  bowler_lst_1_2  bowler_lst_2_1  bowler_lst_2_2  \
0                    7              12               8              14
4                    7              12               8              14
9                    7              12               8              14
11                   7              12               8              14
17                   7              12               8              14
...                ...             ...             ...             ...
202367               8              13               7               9
202368               8              13               7               9
202375               8              13               7               9
202376               8              13               7               9
202380               8              13               7               9

        bowler_lst_2_3  bowler_lst_2_4  bowler_lst_3_1  bowler_lst_3_2  \
0                   16              18               9              11
4                   16              18               9              11
9                   16              18               9              11
11                  16              18              11              13
17                  16              18               9              11
...                ...             ...             ...             ...
202367              12              17              11              14
202368              12              17              10              14
202375              12              17              10              14
202376              12              17              11              14
202380              12              17              11              14

        bowler_lst_3_3
0                   15
4                   13
9                   13
11                  15
17                  15
...                ...
202367              18
202368              18
202375              18
202376              18
202380              16

[26763 rows x 9 columns]

In [39]:
k = 3
temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][k]}"])    
num_non_null_items = temporary.notnull().sum(axis=1)
    
temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][k]]]
temporary = temporary.dropna(axis=1, how="any")
bowler_lst_0 = temporary.copy()
bowler_lst_0 = bowler_lst_0.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][k]}_1",1:f"bowler_lst_{each_match_bowler['index'][k]}_2",2:f"bowler_lst_{each_match_bowler['index'][k]}_3",3:f"bowler_lst_{each_match_bowler['index'][k]}_4"})
result = pd.merge(result, bowler_lst_0, how="cross")
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)
result = result[duplicate_mask]
print(result)

         bowler_lst_1_1  bowler_lst_1_2  bowler_lst_2_1  bowler_lst_2_2  \
1                     7              12               8              14
3                     7              12               8              14
4                     7              12               8              14
8                     7              12               8              14
9                     7              12               8              14
...                 ...             ...             ...             ...
3291786               8              13               7               9
3291788               8              13               7               9
3291812               8              13               7               9
3291815               8              13               7               9
3291827               8              13               7               9

         bowler_lst_2_3  bowler_lst_2_4  bowler_lst_3_1  bowler_lst_3_2  \
1                    16              18               9              11
3                    16              18               9              11
4                    16              18               9              11
8                    16              18               9              11
9                    16              18               9              11
...                 ...             ...             ...             ...
3291786              12              17              11              14
3291788              12              17              11              14
3291812              12              17              11              14
3291815              12              17              11              14
3291827              12              17              11              14

         bowler_lst_3_3  bowler_lst_4_1  bowler_lst_4_2  bowler_lst_4_3
1                    15               4              17              19
3                    15               4               6              20
4                    15              10              17              19
8                    15               4              10              19
9                    15               5              17              20
...                 ...             ...             ...             ...
3291786              16               4               6              20
3291788              16               4               6              10
3291812              16               5              10              19
3291815              16               4              10              19
3291827              16               6              10              19

[597658 rows x 12 columns]

In [41]:
k = 4
temporary = pd.DataFrame(locals()[f"bowler_lst_{each_match_bowler['index'][k]}"])    
num_non_null_items = temporary.notnull().sum(axis=1)
    
temporary = temporary[num_non_null_items == combinations_list[i][each_match_bowler['index'][k]]]
temporary = temporary.dropna(axis=1, how="any")
bowler_lst_0 = temporary.copy()
bowler_lst_0 = bowler_lst_0.rename(columns={0:f"bowler_lst_{each_match_bowler['index'][k]}_1",1:f"bowler_lst_{each_match_bowler['index'][k]}_2",2:f"bowler_lst_{each_match_bowler['index'][k]}_3",3:f"bowler_lst_{each_match_bowler['index'][k]}_4"})
result = pd.merge(result, bowler_lst_0, how="cross")
duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)
result = result[duplicate_mask]
print(result)

MemoryError: Unable to allocate 4.86 GiB for an array with shape (12, 54386878) and data type int64

In [414]:
[each_match_bowler['index'][2]]

[3]

In [28]:
combinations_list[1][each_match_bowler['index'][2]]

3

In [395]:
each_match_bowler

   index          bowler number_of_possibility
0      1       R Tewatia                    33
1      2     Rashid Khan                   246
2      3   R Sai Kishore                   141
3      4     LH Ferguson                   219
4      5      Yash Dayal                   254
5      6  Mohammed Shami                   358

In [366]:
combinations_list

[(0, 0, 4, 4, 4, 4, 4),
 (0, 2, 4, 3, 3, 4, 4),
 (0, 2, 4, 3, 4, 3, 4),
 (0, 2, 4, 3, 4, 4, 3),
 (0, 2, 4, 4, 3, 3, 4),
 (0, 2, 4, 4, 3, 4, 3),
 (0, 2, 4, 4, 4, 3, 3),
 (0, 3, 4, 3, 3, 3, 4),
 (0, 3, 4, 3, 3, 4, 3),
 (0, 3, 4, 3, 4, 3, 3),
 (0, 3, 4, 4, 3, 3, 3),
 (1, 0, 4, 3, 4, 4, 4),
 (1, 0, 4, 4, 3, 4, 4),
 (1, 0, 4, 4, 4, 3, 4),
 (1, 0, 4, 4, 4, 4, 3),
 (1, 2, 4, 3, 3, 3, 4),
 (1, 2, 4, 3, 3, 4, 3),
 (1, 2, 4, 3, 4, 3, 3),
 (1, 2, 4, 4, 3, 3, 3),
 (1, 3, 0, 4, 4, 4, 4),
 (1, 3, 4, 0, 4, 4, 4),
 (1, 3, 4, 3, 3, 3, 3),
 (1, 3, 4, 4, 0, 4, 4),
 (1, 3, 4, 4, 4, 0, 4),
 (1, 3, 4, 4, 4, 4, 0),
 (2, 0, 4, 3, 3, 4, 4),
 (2, 0, 4, 3, 4, 3, 4),
 (2, 0, 4, 3, 4, 4, 3),
 (2, 0, 4, 4, 3, 3, 4),
 (2, 0, 4, 4, 3, 4, 3),
 (2, 0, 4, 4, 4, 3, 3),
 (2, 2, 0, 4, 4, 4, 4),
 (2, 2, 4, 0, 4, 4, 4),
 (2, 2, 4, 3, 3, 3, 3),
 (2, 2, 4, 4, 0, 4, 4),
 (2, 2, 4, 4, 4, 0, 4),
 (2, 2, 4, 4, 4, 4, 0),
 (2, 3, 0, 3, 4, 4, 4),
 (2, 3, 0, 4, 3, 4, 4),
 (2, 3, 0, 4, 4, 3, 4),
 (2, 3, 0, 4, 4, 4, 3),
 (2, 3, 4, 0, 3, 4, 4),
 (2, 3, 4, 0, 4, 3, 4),
 (2, 3, 4, 0, 4, 4, 3),
 (2, 3, 4, 3, 0, 4, 4),
 (2, 3, 4, 3, 4, 0, 4),
 (2, 3, 4, 3, 4, 4, 0),
 (2, 3, 4, 4, 0, 3, 4),
 (2, 3, 4, 4, 0, 4, 3),
 (2, 3, 4, 4, 3, 0, 4),
 (2, 3, 4, 4, 3, 4, 0),
 (2, 3, 4, 4, 4, 0, 3),
 (2, 3, 4, 4, 4, 3, 0)]

In [21]:
result

,bowler_lst_1_1,bowler_lst_1_2,bowler_lst_2_1,bowler_lst_2_2,bowler_lst_2_3,bowler_lst_2_4,bowler_lst_3_1,bowler_lst_3_2,bowler_lst_3_3,bowler_lst_4_1,bowler_lst_4_2,bowler_lst_4_3,bowler_lst_4_4,bowler_lst_5_1,bowler_lst_5_2,bowler_lst_5_3
11,7,12,8,14,16,18,9,11,15,4,6,10,17.0,2,13,20
19,7,12,8,14,16,18,9,11,15,4,6,10,17.0,2,5,19
32,7,12,8,14,16,18,9,11,15,4,6,10,17.0,5,13,19
40,7,12,8,14,16,18,9,11,15,4,6,10,17.0,2,5,13
48,7,12,8,14,16,18,9,11,15,4,6,10,17.0,2,5,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33988756,8,13,7,9,12,17,11,14,16,4,6,10,19.0,2,18,20
33988762,8,13,7,9,12,17,11,14,16,4,6,10,20.0,2,5,18
33988779,8,13,7,9,12,17,11,14,16,4,6,10,20.0,2,5,19
33988844,8,13,7,9,12,17,11,14,16,4,6,10,20.0,2,5,18
33988909,8,13,7,9,12,17,11,14,16,4,6,10,20.0,2,5,19

In [383]:
len(bowler_lst_0)

0

In [106]:
team1 = pd.merge(team2, all_for_bowlers, how = 'left', right_on = ['innings','bowler'] , left_on = ['bowl_innings', 'Team2'])
team1 = team1.dropna()
team1 = team1.drop(columns=['innings','Team2','no_of_matches'])


my_list = team1['bowler'].to_numpy()

all_possible_bowler = pd.DataFrame(columns=['bowler', 'number_of_possibility'])


for i, val in enumerate(my_list):
    new_var_name = f"bowler_lst_{i}"
    locals()[new_var_name] = []
    bowler_average = team1[team1['bowler']==val]['overs_per_match'].iloc[0]
    bowler_average_max = round(bowler_average+0.5)
    bowler_average_min = round(bowler_average-0.5)
    if bowler_average_max>4:
        bowler_average_max = 4
        
    if bowler_average_min < 0:
        bowler_average_min =0

    bowler = val
    
    new_values = {1: team1.loc[team1['bowler'] == bowler, 'over1'].iloc[0], 
              2: team1.loc[team1['bowler'] == bowler, 'over2'].iloc[0], 
              3: team1.loc[team1['bowler'] == bowler, 'over3'].iloc[0],
              4: team1.loc[team1['bowler'] == bowler, 'over4'].iloc[0], 
              5: team1.loc[team1['bowler'] == bowler, 'over5'].iloc[0], 
              6: team1.loc[team1['bowler'] == bowler, 'over6'].iloc[0], 
              7: team1.loc[team1['bowler'] == bowler, 'over7'].iloc[0], 
              8: team1.loc[team1['bowler'] == bowler, 'over8'].iloc[0], 
              9: team1.loc[team1['bowler'] == bowler, 'over9'].iloc[0], 
              10: team1.loc[team1['bowler'] == bowler, 'over10'].iloc[0], 
              11: team1.loc[team1['bowler'] == bowler, 'over11'].iloc[0], 
              12: team1.loc[team1['bowler'] == bowler, 'over12'].iloc[0], 
              13: team1.loc[team1['bowler'] == bowler, 'over13'].iloc[0], 
              14: team1.loc[team1['bowler'] == bowler, 'over14'].iloc[0], 
              15: team1.loc[team1['bowler'] == bowler, 'over15'].iloc[0], 
              16: team1.loc[team1['bowler'] == bowler, 'over16'].iloc[0], 
              17: team1.loc[team1['bowler'] == bowler, 'over17'].iloc[0], 
              18: team1.loc[team1['bowler'] == bowler, 'over18'].iloc[0], 
              19: team1.loc[team1['bowler'] == bowler, 'over19'].iloc[0], 
              20: team1.loc[team1['bowler'] == bowler, 'over20'].iloc[0]}

    threshold = 0.15
    
    for tup in filtered_lst:
        flag = True
        for item in tup:
            if new_values[item] < threshold:
                flag = False
                break
        if flag:
            if len(tup)<=bowler_average_max and len(tup)>=bowler_average_max:
                locals()[new_var_name].append(tup)
                
    locals()[new_var_name] = [tuple(sorted(t)) for t in locals()[new_var_name]]
    all_possible_bowler = all_possible_bowler.append({'bowler': val, 'number_of_possibility': len(locals()[new_var_name])}, ignore_index=True)
    locals()[new_var_name] = sorted(locals()[new_var_name], key=len, reverse=True)
    

    
all_possible_bowler = all_possible_bowler[all_possible_bowler['number_of_possibility']>0].reset_index()
result = pd.DataFrame(locals()[f"bowler_lst_{all_possible_bowler['index'][0]}"])
result = result.rename(columns={0:f"bowler_lst_{all_possible_bowler['index'][0]}_1",1:f"bowler_lst_{all_possible_bowler['index'][0]}_2",2:f"bowler_lst_{all_possible_bowler['index'][0]}_3",3:f"bowler_lst_{all_possible_bowler['index'][0]}_4"})

for i in range(1,len(all_possible_bowler)):
    
    bowler_lst_0 = pd.DataFrame(locals()[f"bowler_lst_{all_possible_bowler['index'][i]}"])
    bowler_lst_0 = bowler_lst_0.rename(columns={0:f"bowler_lst_{all_possible_bowler['index'][i]}_1",1:f"bowler_lst_{all_possible_bowler['index'][i]}_2",2:f"bowler_lst_{all_possible_bowler['index'][i]}_3",3:f"bowler_lst_{all_possible_bowler['index'][i]}_4"})

    result = pd.merge(result, bowler_lst_0, how="cross")
    (result.to_csv('result.csv'))

    duplicate_mask = result.apply(lambda row: len(set(row)) == len(row), axis=1)
    result = result[duplicate_mask]
    print(i)

    
# result['total_overs'] = result.count(axis=1)
# result = result[result['total_overs']==20].reset_index()
# result = result.drop(columns=['total_overs','index'])
# first_bowling_order = result.copy()
team1

TypeError: object of type 'generator' has no len()

In [53]:
result

Empty DataFrame
Columns: []
Index: []

In [36]:
first_bowling_order

Empty DataFrame
Columns: []
Index: []

In [308]:
bowling_order = pd.DataFrame(columns=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19])
for index, row in result.iterrows():
    temp = pd.DataFrame(row)
    temp = temp.reset_index()
    temp = temp.set_axis(['key', 'over'], axis=1, copy=False)
    temp = temp.dropna()
    temp = temp.sort_values(by=['over'])
    temp = temp.T
    temp = temp.filter(items = ['key'], axis=0).to_numpy()
    temp = pd.DataFrame(temp)
    bowling_order = pd.concat([bowling_order,temp])

In [309]:
bowling_order = bowling_order.reset_index().drop(columns=['index'])

In [310]:
bowling_order = bowling_order.rename(columns={0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9, 9:10, 10:11, 11:12, 12:13, 13:14, 14:15, 15:16, 16:17, 17:18, 18:19, 19:20})

In [312]:
remove_last_two = lambda x: x[11:-2]
bowling_order = bowling_order.applymap(remove_last_two)

In [315]:
bowling_order = bowling_order.reset_index()

In [317]:
bowling_order = bowling_order.rename(columns={'index':'match_no'})

In [319]:
bowling_order = pd.melt(bowling_order, id_vars = 'match_no', value_vars = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

In [320]:
bowling_order

        match_no variable value
0              0        1     1
1              1        1     1
2              2        1     1
3              3        1     1
4              4        1     1
...          ...      ...   ...
366915     18341       20     5
366916     18342       20     5
366917     18343       20     3
366918     18344       20     3
366919     18345       20     3

[366920 rows x 3 columns]

In [314]:
all_possible_bowler

   index             bowler number_of_possibility
0      1           R Ashwin                   550
1      3           TA Boult                    61
2      4           OC McCoy                   179
3      5  M Prasidh Krishna                    86
4      6          YS Chahal                    70

In [322]:
for index, row in bowling_order.iterrows():
    test = row

In [326]:
test[2]

'3'

Venue,
Chinnaswamy Bangalore,
Bindra Mohali,
Feroz Delhi,
Eden Kolkata,
Wankhede Mumbai,
Mansingh Jaipur,
Rajiv Hyderabad,
Chidambaram Chennai,
Patil Mumbai,
Newlands SA,
George SA,
Kingsmead SA,
Supersport SA,
Buffalo SA,
Wanderers SA,
Beers SA,
Outsurance SA,
Brabourne Mumbai,
Sardar Ahmedabad,
Barabati Cuttack,
Brabourne Mumbai,
Vidarbha Nagpur,
HPCA Dharamshala,
Jawaharlal Kochi,
Holkar Indore,
Rajashekar Visakhapatnam,
Subrata Pune,
Subrata Pune,
Shaheed Raipur,
JSCA Ranchi,
Abudhabi UAE,
Sharjah UAE,
Dubai UAE,
Bindra Mohali,
Saurashtra Rajkot,
Green Kanpur,
Chinnaswamy Bangalore,
Chidambaram Chennai,
Feroz Delhi,
Rajiv Hyderabad,
Bindra Mohali,
Chidambaram Chennai,
Wankhede Mumbai,
Sardar Ahmedabad,
Feroz Delhi,
Abudhabi UAE,
Patil Mumbai,
Subrata Pune,
Eden Kolkata

Team,
Kolkata,
Bangalore,
Chennai,
Punjab,
Rajastan,
Delhi,
Hyderabad,
Mumbai,
Kochi,
Pune,
Hyderabad,
Pune,
Gujarat,
Pune,
Delhi,
Punjab,
Lucknow,
Gujarat

In [247]:
(combinations_list)

[(0, 0, 4, 4, 4, 4, 4),
 (0, 2, 4, 3, 3, 4, 4),
 (0, 2, 4, 3, 4, 3, 4),
 (0, 2, 4, 3, 4, 4, 3),
 (0, 2, 4, 4, 3, 3, 4),
 (0, 2, 4, 4, 3, 4, 3),
 (0, 2, 4, 4, 4, 3, 3),
 (0, 3, 4, 3, 3, 3, 4),
 (0, 3, 4, 3, 3, 4, 3),
 (0, 3, 4, 3, 4, 3, 3),
 (0, 3, 4, 4, 3, 3, 3),
 (1, 0, 4, 3, 4, 4, 4),
 (1, 0, 4, 4, 3, 4, 4),
 (1, 0, 4, 4, 4, 3, 4),
 (1, 0, 4, 4, 4, 4, 3),
 (1, 2, 4, 3, 3, 3, 4),
 (1, 2, 4, 3, 3, 4, 3),
 (1, 2, 4, 3, 4, 3, 3),
 (1, 2, 4, 4, 3, 3, 3),
 (1, 3, 0, 4, 4, 4, 4),
 (1, 3, 4, 0, 4, 4, 4),
 (1, 3, 4, 3, 3, 3, 3),
 (1, 3, 4, 4, 0, 4, 4),
 (1, 3, 4, 4, 4, 0, 4),
 (1, 3, 4, 4, 4, 4, 0),
 (2, 0, 4, 3, 3, 4, 4),
 (2, 0, 4, 3, 4, 3, 4),
 (2, 0, 4, 3, 4, 4, 3),
 (2, 0, 4, 4, 3, 3, 4),
 (2, 0, 4, 4, 3, 4, 3),
 (2, 0, 4, 4, 4, 3, 3),
 (2, 2, 0, 4, 4, 4, 4),
 (2, 2, 4, 0, 4, 4, 4),
 (2, 2, 4, 3, 3, 3, 3),
 (2, 2, 4, 4, 0, 4, 4),
 (2, 2, 4, 4, 4, 0, 4),
 (2, 2, 4, 4, 4, 4, 0),
 (2, 3, 0, 3, 4, 4, 4),
 (2, 3, 0, 4, 3, 4, 4),
 (2, 3, 0, 4, 4, 3, 4),
 (2, 3, 0, 4, 4, 4, 3),
 (2, 3, 4, 0, 3, 4, 4),
 (2, 3, 4, 0, 4, 3, 4),
 (2, 3, 4, 0, 4, 4, 3),
 (2, 3, 4, 3, 0, 4, 4),
 (2, 3, 4, 3, 4, 0, 4),
 (2, 3, 4, 3, 4, 4, 0),
 (2, 3, 4, 4, 0, 3, 4),
 (2, 3, 4, 4, 0, 4, 3),
 (2, 3, 4, 4, 3, 0, 4),
 (2, 3, 4, 4, 3, 4, 0),
 (2, 3, 4, 4, 4, 0, 3),
 (2, 3, 4, 4, 4, 3, 0)]

In [234]:
tuples_list = [(1, 2), (2, 6), (3, 4), (4, 5), (5, 6)]

lst = [2, 3]

filtered_list = [t for t in tuples_list if t[1] in lst]

print(filtered_list)

[(1, 2)]